<div class="l-p l-line-t text">
  <p>We’re sorry. The page you’re looking for doesn’t exist. We’ve been notified and will take a look at the problem.</p>
  <ul>
    <li>Want to read articles and lessons? <%= link_to "Browse our Read section.", read_path %></li>
    <li>Looking to buy our issues? <%= link_to "Visit our shop.", shop_path, rel: "external" %></li>
    <li>Any questions or problems? <%= link_to "Email us", "mailto:hi@alwaysreadthemanual.com" %> or <%= link_to "tweet @themanual.", "https://twitter.com/themanual" %></li>
  </ul>
</div>