<div class="l-p l-line-t styled">
  <p>We’ve messed up — something is broken. We’ve been notified and will take a look at the problem.</p>
  <p>If you have any questions or problems, <%= link_to "email us", "mailto:hi@themanual.org" %> or <%= link_to "tweet @themanual.", "https://twitter.com/themanual" %></p>
</div>