.buy {
  font-family: $type-sans;
  border-top: divider();
  border-bottom: divider();
}

.buy-item {
  padding: .35em 0;
  @include clearfix;
}

.buy-item + .buy-item {
  border-top: divider();
}

.buy-item-text    { float: left; }
.buy-item-action  { float: right; }

.buy-item-name {
  color: gray(25%);
  font-weight: weight(medium);
  line-height: 1;
  padding-top: .4em;
  padding-top: calc(.4em + 1px);
}