.buy {
  font-family: $type-sans;
  @include rem(font-size, 16px);
  background-color: $c-bg-gray;
}

.buy-item {
  padding: .3em;
  padding-left: .5em;
}
.buy-item + .buy-item {
  border-top: solid 2px white;
}

.buy.is-boxed {
  border: divider();
  border-radius: 3px;
  padding: .25em .5em;
}

.buy-header {
  @extend %heading-sc;
  font-weight: weight(regular);
  color: gray(60%);
  // border-bottom: divider();
  padding-top: .5em;
}

.buy-item {
  @include clearfix;
  .currency {
    font-weight: weight(light);
    // opacity: .6;
  }
  .value {
    font-weight: weight(medium);
  }
}

.buy-item-text {
  float: left;
}

.buy-item-action {
  float: right;
}

.buy-item-name {
  color: black;
  font-weight: weight(medium);
  line-height: 1.3;
  padding-top: .3em;
}

.buy-item-description {
  color: gray(60%);
  font-size: .95em;
}

.buy-item-description a {
  @include link-color-by-issue;
}

.buy-item-button {
  display: block;
  float: right;
  padding: .35em .4em;
  border: solid 2px;
  border-radius: 4px;
  line-height: 1;
  letter-spacing: em(1,16);

  svg {
    display: inline-block;
    margin-right: .1em;
    opacity: .5;
  }

  background-color: white;
  border-color: $c-blue;
  color: $c-blue;
  svg *[fill] { fill: $c-blue; }

  &:hover {
    background-color: $c-blue;
    border-color: $c-blue;
    color: white;
    svg *[fill] { fill: white; }
  }

  @each $i in $issues {
    .issue-#{$i} & {
      border-color: issue-color($i);
      color: issue-color($i);
      svg *[fill] { fill: issue-color($i); }
    }

    .issue-#{$i} &:hover {
      background-color: issue-color($i);
      border-color: issue-color($i);
      color: white;
      svg *[fill] { fill: white; }
    }
  }
}