.featured-product > * {
  background-color: $c-bg-gray;
  padding: 2em;
}

.featured-product-name {
  font-family: $type-serif;
  font-size: 1.5em;
  font-weight: weight(black);
  padding-top: .25em;
}

.featured-product-description {
  font-family: $type-sans;
  line-height: 1.4;
  font-size: .85em;
  @include margin-v(1.5em);
  color: gray(40%);

  ul {
    overflow: hidden;
  }

  li {
    margin-bottom: .2em;
  }
}

.featured-product-buy {
  font-size: .85em;
}