.products-heading {
  @extend %heading-sc-heavy;
  color: gray(30%);
  font-weight: weight(medium);
  @include clearfix;

  h2 {
    float: left;
  }

  p {
    float: right;
    font-weight: weight(regular);
    color: gray(50%);
  }
}

.product-name { font-size: 1.5em; }
.product-description { font-size: .85em; }
.product-buy { font-size: .8em; }

.product-shot p {
  display: none;
  color: gray(50%);
  font-family: $type-sans;
}

.product-name {
  font-family: $type-serif;
  font-weight: weight(black);
  margin-top: 1em;
  margin-bottom: .5em;
}

.product-description {
  font-family: $type-sans;
  color: gray(30%);
  line-height: 1.4;
  margin-bottom: 1.176470588em;
}

.product-description a {
  @include link-color-by-issue;
}

.product-description ul {
  li + li {
    margin-top: .3em;
  }
}

@include media-upto($bp-s) {
  .product-description li {
    display: inline;
    margin-top: 0 !important;
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: ".";
    }
  }
}