.product-list {
  @include row;

  .product {
    @include span-columns(3);
    @include omega(4n);
  }
}

.products-heading {
  @extend %heading-sc-heavy;
  color: black;
  font-weight: weight(bold);
}

.product-shot p {
  display: none;
  color: gray(50%);
  font-family: $type-sans;
  font-size: em(14, $rem-value);
}

.product-name {
  font-family: $type-sans;
  font-weight: weight(bold);
  font-size: 1.25em;
  padding-top:    .8em;
  padding-bottom: .8em;
}

.product-info ul {
  font-family: $type-sans;
  color: gray(30%);
  font-size: .8em;
  line-height: 1.3;
  li + li {
    margin-top: .3em;
  }
}

.product-buy {
  margin-top: 1em;
}

// @include media-upto($bp-s) {
//   .product-info li {
//     display: inline;
//     margin-top: 0 !important;
//     &:after {
//       content: ",";
//     }
//     &:last-child:after {
//       content: ".";
//     }
//   }
// }