// .products-heading {
//   @include span-columns(3);
// }
// .product-list               { @include span-columns(9); }
// .product-list .product      { @include row(); }
// .product-list .product + .product { @include spacing(padding-top, 2); }
// .product-list .product > *  { @include span-columns(3 of 9); }

.products-heading {
  font-family: $type-sans;
  font-size: 1.5em;
  font-weight: weight(bold);
  @include spacing(padding-bottom, 1.5);
  display: none;
}

.products {
  @extend .l-col;
}
.product-list {

  .product {
    @extend .l-units;
    margin-top: 3em;
  }
  .product > *              { @extend .l-unit-third; }
  .product > .product-name  { @extend .l-unit-shift-third; }
  .product > .product-name + * { clear: left; }
}

.product-shot p {
  display: none;
  color: gray(50%);
  font-family: $type-sans;
  font-size: em(14, $rem-value);
}

.product-info {

}

.product-name {
  font-weight: weight(bold);
  font-size: 1.3em;
  padding-bottom: .7em;
}

.product-info ul {
  font-family: $type-sans;
  color: gray(50%);
  font-size: .9em;
  line-height: 1.3;
  li + li {
    margin-top: .3em;
  }
}

// @include media-from($bp-s) {
//   .product-info li {
//     display: inline;
//     &:after {
//       content: ",";
//     }
//     &:last-child:after {
//       content: ".";
//     }
//   }
// }