.subscription-step {
  border-top: divider();
  @include spacing(padding-top);
  & + & {
    @include spacing(margin-top);
  }
}

.subscription-step,
.subscription-option-row,
.subscription-option-header {
  @include row;
}

.subscription-option-illo {
  float: left;
  width: 6em;
  border: solid 2px;
  border-radius: 3.5em;
  overflow: hidden;
  margin-right: 1em;
  img {
    width: 100%;
  }
}

.subscription-option-text {
  overflow: hidden;
}

.subscription-step-header {
  @include span-columns(3);
  clear: both;
}

.subscription-step .subscription-options {
  @include span-columns(9);
  @include max-width-columns(6);
  @include omega;
}

.subscription-option-header {
  @include clearfix;
  @include padding-v(1em);
  .subscription-option-name   { float: left; margin-right: 1em; }
  .subscription-option-price  { float: right; }
}

.subscription-option label {
  cursor: pointer;
}

.subscription-option input {
  position: absolute;
  left: -9999em;
  top: -9999em;
  visibility: hidden;
}

.subscription-option-name,
.subscription-option-price {
  font-size: 1.3em;
}

.subscription-option-name {
  font-weight: weight(black);
}

.subscription-option-price {
  font-family: $type-sans;
  font-weight: weight(bold);

  .currency {
    font-weight: weight(regular);
  }

  .plus {
    padding-right: .15em;
    font-weight: weight(regular);
    opacity: .8em;
  }
}

@mixin hovered-subscribe-option-row {
  &:hover .subscription-option-row,
  &.hover .subscription-option-row {
    @content;
  }
}

@mixin selected-subscribe-option-row {
  input:checked + .subscription-option-row,
  input.checked + .subscription-option-row {
    @content;
  }
}

.subscription-option {
  color: black;
  & + & {
    margin-top: 1.5em;
  }

  @include hovered-subscribe-option-row {
    .subscription-option-header,
    .subscription-option-illo { color: $c-blue; }
  }

  @include selected-subscribe-option-row {
    .subscription-option-header,
    .subscription-option-illo { color: $c-field-valid; }
  }

  .subscription-options-connected & {

    margin-top: 0;

    .subscription-option-row {
      padding-bottom: 1.5em;
      @extend %image-pixel-ruler-black;
      background-size: 2px auto;
      background-repeat: repeat-y;
      background-position: 3em 0;
    }

    &:last-child  .subscription-option-row {
      padding-bottom: 0;
      background: none;
    }

    &.hover .subscription-option-row { @extend %image-pixel-ruler-blue; }
    input.checked + .subscription-option-row { @extend %image-pixel-ruler-valid; }
  }

}