.site-header,
.site-footer {
  color: $c-text-caption;
  @include spacing(padding-left padding-right);
  a.current { color: $c-text-black; font-weight: weight(medium); }
  a { @include link-hover-blue { color: $c-text-caption; } }

  .bg-colored & {
    color: rgba(black, .75);
    border-color: rgba(black, .15);
    a { @include link-hover-white { color: rgba(black, .75); } }
  }
}

.site-header {
  margin-bottom: 1.5em;
  border-bottom: divider();
  .bg-colored & {
    margin-bottom: 0;
  }
}
.site-footer {
  border-top: divider();
}

.site-header a,
.site-footer {
  @include padding-v(1.2em);
}

.site-header a  { display: block; }

.site-header h1 {
  float: left;
  width: $sidebar-width;
}

.site-header .tabs    { float: left; }
.site-header .actions { float: right; }

.site-header nav > ul > * {
  float: left;
}

.site-header nav {
  $tab-pad: 1.2em;
  margin-left: $sidebar-width + $sidebar-gutter - $tab-pad;

  > ul > li + li {
    margin-left: 0.5em;
  }

  a {
    padding-left: $tab-pad;
    padding-right: $tab-pad;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
  }

  a.current {
    border-left:  divider();
    border-right: divider();
    position: relative;
    font-weight: weight(medium);
    &:after {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      left: 0;
      bottom: -1px;
      background: white;
    }
  }

  .nav-popover a {
    padding: .75em;
  }

  .icon {
    > a {
      height: 1em;
      text-indent: -9999em;
      @include box-sizing(content-box);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 2em auto;
      width: 2em;
      @include padding-h(0);
      &.current { @include padding-h(.8em); }
    }

    .nav-popover:before {
      right: .4em;
    }

    > a.current + .nav-popover:before {
      right: 1.2em;
    }
  }

  // TODO improve with hover/current/colored-bg colors
  .icon.account > a {
    background-image: image-url('ui/reader-account.svg');
  }
}