/*
 *
 * LAYOUT
 *
 */
// .header-nav     { display: none; }
.header-nav { float: right; }
.header-logo    { float: left; }
// .header-button  { float: right; }
.header-button  { display: none; }

/*
 *
 * STYLING
 *
 *
 */
$logo-size: 45px;

.header {
  font-family: $type-sans;
  @include rem(padding-top padding-bottom, 18px);
  border-bottom: divider();
}

.header-logo > a,
.header-button {
  display: block;
  @include rem(width height, $logo-size);
}

.header-logo > a {
  @extend %image-logo;
  display:    block;
  background-size: auto 100%;
  background-position: top left;
}

.header-button {
  @extend %heading-sc;
  @extend %image-icon-menu-big;
  background-color: transparent;
  background-position: right center;

  text-indent: -9999em;
  overflow: hidden;

  font-weight: weight(medium);
  @include appearance(none);
  border: none;
  color: gray(45%);
  border-left: solid 1px transparent;
}

.header-nav li {
  list-style: none;
  float: left;
  margin-left: 1.5em;
  font-size: em(17, $rem-value);
  @include rem(line-height, $logo-size);
}

.header-nav a {
  @include underlined-link {
    color: gray(20%);
  }
}