$bar-pad:       1.2em;
$bar-icon:      2em;
$bar-logo-size: 5.5em;

.bar {
  color: $c-text-caption;
  @include svg { stroke: $c-icon-gray; }

  line-height: 1;
  @include spacing(padding-left padding-right);

  a.current {
    color: $c-text-black;
    @include svg { stroke: $c-text-gray; }
    font-weight: weight(medium);
  }

  a {
    @include link-hover-blue(stroke) {
      color: $c-text-caption;
      @include svg { stroke: $c-icon-gray; }
    }
  }

  .bg-colored & {
    color: rgba(black, .75);
    @include svg { stroke: rgba(black, .6); }
    border-color: rgba(black, .15);

    a {
      @include link-hover-white(stroke) {
        color: rgba(black, .75);
        stroke: rgba(black, .6);
      }
    }

    .nav-popover a { @include link-hover-blue(stroke) { color: $c-text-caption; } }
  }

  > * {
    @include outer-container;
    @include row;
  }
}

.header-bar {
  border-bottom: divider();
  .bg-colored & {
    margin-bottom: 0;
  }
}
.footer-bar {
  border-top: divider();
}

.bar nav > ul { float: left; @include clearfix; }
.bar nav > ul + ul { float: right; }
.bar nav > ul > li { float: left; }

.bar > * > nav > ul > li > a,
.bar > * > p {
  display: block;
  @include padding-v($bar-pad);
}

.header-bar-logo {
  float: left;
  position: relative;

  > a {
    position: absolute;
    top: 0; left: 0;

    width: $bar-logo-size;
    height: $bar-logo-size;

    background: white;
    border: divider();
    border-top: none;

    text-indent: -9999em;
    font-weight: weight(medium);
    @include link-hover-blue(fill) { color: black; }
  }
}

.header-bar > * > nav {

  // sidebar + gutter - tab padding (compensate)
  margin-left: $sidebar-width + $sidebar-gutter - $bar-pad;

  a {
    @include padding-h($bar-pad);
    border-style: none solid;
    border-width: 0px 1px;
    border-color: transparent;
  }

  a.current {
    border-color: $c-divider;
    font-weight: weight(medium);
    position: relative;
    // line to create tab effect
    &:after {
      content: "";
      display: block;
      background: white;
      height: 1px;
      @include position(absolute, 0 0px -1px 0px);
    }
  }

  .nav-popover a {
    padding: .75em;
  }

  .icon {
    > a {
      padding: 0;
      @include padding-v(($bar-pad * 2 + 1em - $bar-icon) / 2);
      &.current { @include padding-h(.8em); }
    }
    .nav-popover:before {
      right: .4em;
    }

    > a.current + .nav-popover:before {
      right: 1.2em;
    }
  }

  .icon-text    { @extend %visuallyhidden; }
  .icon svg {
    display: block !important;
    width: $bar-icon;
    height: $bar-icon;
  }
}