/*
 *
 * LAYOUT
 * 
 */
.header-nav     { display: none; }
.header-logo    { float: left; }
.header-button  { float: right; }

/*
 *
 * STYLING
 *
 * 
 */
$logo-size: 45px;
.header { 
  font-family: $type-sans;
  @include padding-v(18px);
}

.header-logo > a {
  @extend %image-logo;
  @extend %heading-sc;
  
  font-size: 16px;
  line-height: $logo-size;

  background-size: auto 100%;
  background-position: top left;
  
  display:    block;
  height:     $logo-size;
  min-width:  $logo-size;
  
  font-weight: weight(medium);
  padding-left: $logo-size + 20px;


            color: black;
  &:hover { text-decoration: underline; }
}

.header-button {
  @extend %heading-sc;
  @extend %image-icon-menu-big;
  background-color: transparent;
  background-position: right center;

  display: block;
  width: $logo-size;
  height: $logo-size;
  font-size: 16px;

  text-indent: -9999em;
  overflow: hidden;

  font-weight: weight(medium);
  @include appearance(none);
  border: none;
  height: $logo-size;

  color: gray(45%);

  border-left: solid 1px transparent;
}