.masthead {
  border-bottom: divider();
  > * { position: relative; }
}

.masthead__header {
  // background: gray(97%);
  @include spacing(padding-top padding-bottom, 1.5);
  border-bottom: divider();
}

.masthead__statement {
  float: right;
  color: $c-text-caption;
  color: $c-text-faint-less;
}

.masthead__feature {
  position: absolute;
  right: 0;
  @include spacing(top, 1.5);
  width: 18em;
  display: none;
}

.masthead__feature > a {
  color: $c-text-gray;
  color: rgba(white, 0.7);
}

.masthead__feature__text {
  width: 55%;
  float: left;
  
  p {
    margin-top: .25em;
    margin-bottom: .5em;
  }
}

.masthead__feature__text__title {
  font-size: $type-l;
  color: $c-text-body;
  font-weight: weight(bold);
  line-height: 1.1;
  margin-top: .5em;
}

.masthead__feature__text__micro {
  font-size: .9em;
  font-family: $type-serif;
  line-height: 1.2;
  font-style: italic;
}

.masthead__feature__picture {
  width: 40%;

  box-shadow: 0 0 1.5em rgba($c-text-gray, .2);

  position: absolute;
  right: 0;
  top: -.75em;
  
  transition: all .1s;
  border: divider();
}

.masthead__feature:hover .masthead__feature__picture {
  transform: translateY(-2em);
}

.masthead__nav {
  // background: gray(97%);

  a {
    color: $c-text-caption;
    border-top:     solid 2px transparent;
    border-bottom:  solid 2px transparent;
    display: block;
    font-weight: weight(medium);
    @extend .t-sc;
    line-height: 1;
    @include rem(padding-top padding-bottom, .95rem);
  }

  a:hover, a:focus {
    color: black;
  }

  a.current {
    color: black;
    border-bottom-color: black;
    font-weight: weight(medium);
  }

  a.current:hover,  
  a.current:focus {
    color: $c-blue;
    border-bottom-color: $c-blue;
  }
}

.masthead__nav__list {
  overflow: auto;
  margin-bottom: -1px;
}

.masthead__nav__list > * {
  float: left;
  margin-right: 2em;
}

.masthead__logo {
  display: block;
  font-weight: weight(medium);
  width: $sidebar-width + $sidebar-gutter;
  
  svg {
    display: block;
    max-width: 100%;
  }

  svg #wordmark {
    fill: black;
  }

  @include hover {
    svg #mark {
      fill: $c-blue;
      @include color-by-issue(fill);
    }
  }
}