<main class="l-pad-x-yy"><div class="l-col">

	<header class="text">
    <h1>Uh oh.</h1>
    <p>That login link is invalid. Please enter your email address and we'll email you a new link.</p>
    <%= render partial: "login_form" %>
  </header>

</div></main>