<header class="page-header">
  <h1>Uh oh.</h1>
</header>
<div class="text l-p-y">
  <p>That login link is invalid. Please enter your email address and we'll email you a new link.</p>
  <%= render partial: "login_form" %>
</div>