<main class="l-p-xyyy"><div class="l-col">

	<header class="text">
    <h1>Log In</h1>
    <p>You login link was sent to <strong><%= params[:email] %>.</strong> Check your email.</p>
  </header>
</div></main>
