<main class="is-padded"><div class="c-single is-centered">

	<header class="page-header">
    <h1>Login</h1>
    <p>No passwords here, just give us your email address and we'll mail you a link to login</p>
  </header>

  <%= form_tag session_path(:user), :method => :post, class: 'form' do |f| %>

  	<dl class="field">
      <dt><label for="supporter-signup-email">Email</label></dt>
      <dd><%= email_field_tag :email, '', class: 'is-long', placeholder: 'yourname@domain.com', autofocus: true, required: true, id: 'supporter-signup-email' %></dd>
    </dl>

    <div class="form-actions">
      <button type="submit" class="button">Sign In</button>
    </div>
  <% end %>
</div></main>