<main class="l-p-xyy"><div class="l-col">

	<header class="text">
    <h1>Log In</h1>
    <p>Enter your email address and we'll email you a link to log in.</p>
  </header>

  <%= render partial: "login_form" %>
</div></main>