<% title "Account Not Found" %>

<div class="text l-p">
  <p>We couldn’t find an existing account for <strong><%= params[:email] %></strong>.</p>
  <h4>Wrong email address?</h4>
  <p><%= link_to "Try again", :new_user_session %> with a different one.</p>
  <h4>Don’t have an account?</h4>
  <p>Create one by <%= link_to "becoming a subscriber", subscribe_path %>.</p>
  <h4>Is something wrong?</h4>
  <p>Please <a href="mailto:hi@alwaysreadthemanual.com">email us</a> to let us know.</p>
</div>