// General Colors
$c-text-white:        hsl(0, 0%, 100%);
$c-text-black:        hsl(0, 0%, 0%);
$c-text-body:         hsl(0, 0%, 15%);
$c-text-gray:         hsl(0, 0%, 30%);
$c-text-caption:      hsl(0, 0%, 45%);
$c-text-faint:        hsl(0, 0%, 60%);
$c-text-fainter:      hsl(0, 0%, 70%);

$c-divider:           gray(87.5%);
$c-divider-darker:    darken($c-divider, 5%);
$c-icon-gray:         darken($c-divider, 20%);
$c-bg-gray:           gray(96%);

$c-highlight: #FFFBDC;

$c-blue:    #0055DD;
$c-purple:  #8200E6;

$c-field-invalid: #FF4D4D;
$c-field-valid:   #54BF54;
$c-red:   $c-field-invalid;
$c-green: $c-field-valid;

$c-kickstarter: #2BDE73;

// Published issues, and issues colors
$issues:        (1, 2, 3, 4);
$issues-colors: (#ED3D45, #51B9E0, #ED9C31, #00CFB5);

// Returns the color of issue $i or 'latest'
@function issue-color($i) {
  @if $i == 'latest'  { @return issue-color(nth($issues, length($issues))); }
  @else { @return nth($issues-colors, $i); }
}

// Prefixes the CSS rule which calls the mixin
// with .issue-N and sets $props to that issue’s color
// Also takes block content for more properties.
@mixin color-by-issue($props) {
  @each $i in $issues {
    .issue-#{$i} & {
      @each $prop in $props {
        #{$prop}: issue-color($i);
        @content;
      }
    }
  }
}

@mixin color-by-issue-self($props) {
  @each $i in $issues {
    &.issue-#{$i} {
      @each $prop in $props {
        #{$prop}: issue-color($i);
        @content;
      }
    }
  }
}