// Base type
$rem-base:  17px;
$rem-value: 17;

$singlecol-width: 38rem;

// Grid
$column: 60px;
$gutter: 40px;
$max-width: 1200px;

// Breakpoints
// TODO update to Sass 3.3 Maps
$bp-s:  500px;
$bp-m:  650px;
$bp-l:  800px;
$bp-xl: 1000px;

$bps: (
  ("s",  $bp-s),
  ("m",   $bp-m),
  ("l",   $bp-l),
  ("xl",  $bp-xl)
);

// Type
$type-sans:  "franklin-gothic-urw", sans-serif;
$type-serif: "freight-text-pro", serif;