// Base type
$rem-value: 17;
$rem-base:  17px;
$fz-scale:  1.18;

$singlecol-width: 38rem;

$fz-l:      $fz-scale * 1em;        // 20
$fz-ll:     $fz-scale * $fz-l;      // 24
$fz-lll:    $fz-scale * $fz-ll;     // 28
$fz-llll:   $fz-scale * $fz-lll;    // 33
$fz-lllll:  $fz-scale * $fz-llll;   // 39
$fz-llllll: $fz-scale * $fz-lllll;  // 46

// Grid
$column: 60px;
$gutter: 50px;
$max-width: 1150px;

// Breakpoints
// TODO update to Sass 3.3 Maps
$bp-s:  500px;
$bp-m:  700px;
$bp-l:  850px;
$bp-xl: 1000px;

$sidebar-width:  8.5em;
$sidebar-gutter: 1.5em;

$z-popover: 10;

$bps: (
  ("s",  $bp-s),
  ("m",   $bp-m),
  ("l",   $bp-l),
  ("xl",  $bp-xl)
);

// Type
$type-sans:  "franklin-gothic-urw", sans-serif;
$type-serif: "freight-text-pro", serif;

// Misc
$popover-tip-width: 20px;