// Base type
$rem-base:  17px;
$rem-value: 17;

$singlecol-width: 38rem;

// Grid
$column: 60px;
$gutter: 50px;
$max-width: 1150px;

// Breakpoints
// TODO update to Sass 3.3 Maps
$bp-s:  500px;
$bp-m:  700px;
$bp-l:  850px;
$bp-xl: 1000px;

$sidebar-width:  8.5em;
$sidebar-gutter: 1.5em;

$z-popover: 10;

$bps: (
  ("s",  $bp-s),
  ("m",   $bp-m),
  ("l",   $bp-l),
  ("xl",  $bp-xl)
);

// Type
$type-sans:  "franklin-gothic-urw", sans-serif;
$type-serif: "freight-text-pro", serif;

// Misc
$popover-tip-width: 20px;