.issue_index-entry > div {
  position: relative;
}

.issue_index-entry .issuebuy {
  position: absolute;
  width: 25em;
  bottom: 0;
}

.issueheader h1 {
  @include rem(font-size, 48px);
  font-weight: weight(extrabold);
  padding-bottom: .3em;
  strong { @include issue-number; }
}

.issueheader p {
  @extend %heading-sc;
  color: gray(70%);
  margin-top: 1em;
}