//
// 2. STYLING
// ---------------------------------------------------
//
// TODO bump font-size back to 22/24 on pieces only
//
.issue-piece a {
  @include link-color-issue;
}

.issue-piece-header-text {

  @include media-upto($bp-l) {
    text-align: center;
    > * { @include centered; }
  }

  @include media-from($bp-l) {
    margin-top: 18%;
  }

  @include media-between($bp-l, $bp-xl) {
    margin-top: 25%;
    font-size: 0.9em;
  }

}

.issue-piece-header-title {
  font-weight: weight(black);

  color: black;
  text-rendering: optimizeLegibility;

  @include rem(font-size, 48px);
  line-height: 1.05;

}

.issue-piece-header-synopsis {
  font-family: $type-serif;
  font-weight: weight(medium);
  font-style: italic;
  color: $c-text-aside;

  font-size:      1.5em;
  line-height:    1.25;
  margin-top:     0.6em;
  margin-bottom:  2em;
  max-width: 20em;

  @include media-from($bp-l) {
    font-size: 1.4em;
    margin-bottom: 1.4em;
  }
}

.issue-piece-header-byline {
  color: $c-text-caption;
  line-height: 1.25;

  .middot { @include padding-h(0.3em); }
  strong  { color: black; font-weight: weight(regular); }

  a,
  strong.issue-current {
    font-weight: weight(medium);
  }

  @include media-upto($bp-m) {
    @include rem(font-size, 19px);
  }

  .middot {
    @include media-upto($bp-m)            { @include middot-break; }
    @include media-between($bp-l, $bp-xl) { @include middot-break(0.25em); }
  }

}






.issue-piece-text,
.issue-piece-footer {
  @include rem(font-size, 23px);
  font-family: $type-serif;
  max-width: $type-column-em-width*1em;
  @include centered;
}


.issue-piece-text {
  color: $c-text-body;
  font-family: $type-serif;

  strong  { font-weight: weight(semibold); }
  em      { font-style: italic; }

  &:before, &:after {
    content: "\00d7";

    display: block;
    font-family: $type-sans;
    font-weight: weight(bold);
    font-size: 30px;
    text-align: center;

    @include spacing(padding-top margin-bottom, 1);
    color: $c-divider;

    @include color-by-issue(color);
  }


  //
  // Text
  //
  $line-height: 1.5;
  $line-height-em: $line-height * 1em;

  line-height: $line-height;

  > p + p {
    text-indent: 1em;
    @include media-from($bp-l)  { text-indent: $line-height-em; }
  }

  blockquote {
    padding-left: 1em;
    @include media-from($bp-l) { @include padding-h($line-height-em); }
  }

  ul, ol {
    padding: 1em;
    padding-right: 0;
    @include media-from($bp-l) { padding: $line-height-em; padding-right: 0; }
  }

  > blockquote p + p {
    margin-top: 1em;
  }

  > h2 {
    @include rem(font-size, 25px);
    line-height: 1.1;
    font-family: $type-sans;
    font-weight: weight(semibold);
    color: black;
    margin-top:    3em;
    margin-bottom: .5em;
  }

  dl {
    @include margin-v(1em);
    dt {
      font-weight: weight(bold);
    }
    dd + * {
      margin-top: 1em;
    }
  }

  pre {
    @include margin-v(1em);
    @include rem(margin-left, 1.5rem);
    font-family: Monaco;
    color: $c-text-dull;
    font-size: 0.7em;
  }

  blockquote {
    @include margin-v(1em);

    color: $c-text-aside;
    border-left: solid 1px transparent;

    @include color-by-issue(border-color);
    @include box-sizing(border-box);

    > p + p:last-child > cite:only-child {
      display: block;
      text-align: right;
      font-style: normal;
      margin-top: -0.5em;
    }
  }

  em {
    font-style: italic;
  }

  q {
    font-style: italic;
  }

  ol { list-style-type: decimal; }
  ul { list-style-type: square; }
  li > p:first-child { margin-top: 0; }

  .footnote {
    font-family: $type-sans;
    font-weight: weight(medium);
    vertical-align: text-top;
    font-size: 0.6em;
    padding-left: 0.3em;
    letter-spacing: 1px;

    &:target {
      outline: none;
    }
  }

  //
  // Media
  //

  figure {
    margin: 1.5em auto;
    max-width: 100%;

    figcaption {
      font-family: $type-sans;
      font-size: 18px;
      line-height: 1.8;
      font-weight: 300;
      color: $c-text-caption;
      margin-top: 0.75em;
      text-align: left;

      max-width: 700px;
      margin-left: auto;
      margin-right: auto;

      a {
        font-weight: 400;
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
  }


  //
  // Other
  //

  .footnotes {
    @include spacing(margin-top, 2);

    font-family: $type-sans;
    font-weight: normal;
    color: gray(60%);

    ol {
      font-size: 0.65em;
      line-height: 1.5;
    }

    :target {
      font-weight: weight(medium);
      color: gray(20%);
    }

    hr { display: none; }

    ol { @include padding-v(0); }
  }
}

.issue-piece-footer {

  margin-bottom:  flex-gutter()*2;
  color: $c-text-body;
  font-style: italic;
  line-height: 1.4;

  p { @include rem(font-size, 20px); }

  a       { color: gray(25%); font-weight: 500; }
  a:hover { color: black; }

  .companion {

    font-family: $type-sans;
    font-weight: weight(medium);
    font-size: em(17, $rem-value);
    text-transform: uppercase;

    text-align: center;
    color: black;

    margin-top: 2em;
    letter-spacing: 1px;
    word-spacing: 1px;

    a {
      display: block;

      color: gray(20%);
      strong {
        @include color-by-issue(color);
      }

      border: solid 2px $c-divider;
      border-radius: 5px;
      padding: 1em;

      &:hover {
        color: black;
        border-color: gray(80%);
      }
    }

  }
}