<ul class="issuebuy-options">
  <% if issue.shoppe_permalink_digital %>
  <li class="issuebuy-option">
    <div class="issuebuy-option-text">
      <h3 class="issuebuy-option-name">Digital</h3>
      <p  class="issuebuy-option-description">DRM-free Ebook</p>
    </div>
    <p  class="issuebuy-option-button"><a href="#">$10</a></p>
  </li>
  <% end %>

  <% if issue.shoppe_permalink %>
  <li class="issuebuy-option">
    <div class="issuebuy-option-text">
      <h3 class="issuebuy-option-name">Print + Digital</h3>
      <p  class="issuebuy-option-description">Hardback + DRM-Free Ebook</p>
    </div>
    <p class="issuebuy-option-button"><a href="#">$25</a></p>
  </li>
  <% end %>
  <% if sub %>
  <li class="issuebuy-option">
    <div class="issuebuy-option-text">
      <h3 class="issuebuy-option-name">Yearly Subscription</h3>
      <p  class="issuebuy-option-description">3 Issues per Year (Print + Digital)</p>
    </div>
    <p  class="issuebuy-option-button"><a href="#">$60</a></p>
  </li>
  <% end %>
</ul>