<footer class="piece-footer">
  <figure class="piece-footer-portrait"><%= portrait_tag(@piece.issue_number, @piece.author_slug) %></figure>
  <p class="piece-footer-bio"><%=raw @piece.author.bio %></p>
</footer>