<%- title "Issue #{@issue.number}" -%>
<%- content_for(:logo) { "issue-#{@issue.number}" } -%>

<%- cache @issue do -%>
<ul class="issue">
  <%- @issue.articles.ordered.each do |article| -%>
  <li>
    <figure class="issue-illo">
      <%= render partial: 'pieces/piece_illo', locals: { piece: article, sizes: "(min-width: 500px) 10.5em, (min-width: 850px) 12em, (min-width: 1000px) 16em, 1px" } %>
    </figure>
    <div class="issue-pieces">
      <h2 class="h-sc h-sc-spaced"><%= article.author.name %></h2>
      <%= render article %>
      <%= render article.lesson %>
    </div>
  </li>
  <%- end -%>
</ul>
<%- end -%>
