@mixin link-hover-black {
  @content;
  @include hover { color: $c-text-black; }
}

@mixin link-hover-blue {
  @content;
  @include hover { color: $c-blue; }
}

@mixin link-hover-issue {

  @include link-hover-blue {
    @content;
  }

  @each $i in $issues {
    .issue-#{$i} & {
      @include hover {
        color: issue-color($i);
      }
    }
  }
}

@mixin link-color-issue {
  color: $c-blue;
  @each $i in $issues {
    .issue-#{$i} & {
      color: issue-color($i);
    }
  }

  @include hover {
    color: $c-text-black;
  }
}

@mixin link-color-issue-self {
  color: $c-blue;

  @each $i in $issues {
    &.issue-#{$i} {
      color: issue-color($i);
    }
  }

  @include hover {
    color: $c-text-black;
  }
}