.issueheader h1 {
  @include rem(font-size, 48px);
  // TODO responsive
  font-weight: weight(black);

  &:not(:last-child) {
    padding-bottom: .15em;
  }

  strong {
    @extend .issue-number;
  }
}

.issueheader p {
  @extend %heading-sc;
  color: gray(70%);
  margin-top: 1.5em;
}