.issue_entry {
  overflow: auto;
}

.issue_entry-illo {
  float: left;
  width: 27.5%;
  margin-right: 5%;
}

.issue_entry-text {
  overflow: hidden;
}

.issue_entry-author {
  @extend .t-sc-light;
}

.issue_entry-piece {
  margin-top: 1.5em;
}

.issue_entry-piece-title {
  @include rem(font-size, 24px);
  font-weight: weight(bold);
  line-height: 1.2;
}

.issue_entry-piece-title a {
  @include black-link;
}

.issue_entry-piece-synopsis {
  font-family: $type-serif;
  color: $c-text-blockquote;
  font-style: italic;
  font-weight: weight(medium);
  @include rem(font-size, 20px);
  max-width: 18em;
  line-height: 1.25;
  margin-top:  .25em;
}