$issuebuy-pad: 0.8em;

.issuebuy {
  @include clearfix;
  font-family: $type-sans;
  font-size: 15px;
}

.issuebuy-figure {
  float: left;
  width: 196px;
  margin-top: 1em;
}

.issuebuy-figure + .issuebuy-options {
  margin-left: 196px + 25px;
}

.issuebuy-caption {
  padding: $issuebuy-pad;
  text-transform: uppercase;

  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  border-bottom: solid 1px $c-divider;

  color: gray(60%);
  font-weight: weight(regular);

  strong {
    color: gray(20%);
    font-weight: weight(medium);
  }
}

.issuebuy-option {
  overflow: hidden;
  // @include padding-v($issuebuy-pad);
  // &:first-child { padding-top: 0; }
  // &:last-child  { padding-bottom: 0; }
  // + .issuebuy-option { border-top: solid 1px $c-divider; }
  + .issuebuy-option { margin-top: $issuebuy-pad; }
}

.issuebuy-option-text {
  float: left;
  line-height: 1.4;
}

.issuebuy-option-name {
  font-size: 17px;
  color: gray(20%);
  font-weight: weight(semibold);
}

.issuebuy-option-description {
  font-size: 15px;
  color: gray(65%);
}

.issuebuy-option-button {
  float: right;
  text-align: right;

  a {
    font-weight: weight(medium);
    background-color: $c-blue;
    @include color-by-issue(background);
    font-size: 16px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: white;

    line-height: 1;
    padding: .7em .8em;
    margin-top: .2em;
    display: inline-block;

    text-align: center;
    border-radius: 4px;

    &.price,
     .price {
      font-weight: weight(medium);
    }

    .currency {
      font-weight: weight(regular);
      margin-right: 0.15em;
      color: rgba(white, 0.75);
    }

    .shipping {
      font-size: .8em;
      letter-spacing: 0;
    }

    sup {
      font-size: .7em;
      vertical-align: text-top;
      padding-left: .3em;
    }

    &:hover, &:focus {
      background: black;
    }
  }

  small {
    display: block;
    @include rem(font-size, 12px);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    font-weight: weight(medium);
    color: gray(50%);
    margin-top: .5em;
    .price {
      color: black;
      &:first-letter {
        opacity: .5;
      }
    }
  }

}





.issuebuy.is-boxed {
  border: solid 1px $c-divider;
  border-radius: 5px;
  .issuebuy-option {
    padding: $issuebuy-pad;
  }

  .issuebuy-option + .issuebuy-option {
    margin-top: 0;
    border-top: divider();
  }
}

.issuebuy.has-whitebuttons .issuebuy-option-button {
  a {
    background-color: white;
    color: gray(20%);
    border: solid 1px darken($c-divider, 10%);
  }

  a:first-letter {
    @include color-by-issue(color);
  }

  a:hover {
    background-color: black;
    border-color: black;
    color: white;
    &:first-letter {
      color: rgba(white, 0.8);
    }
  }
}

.issuebuy.is-wide {

  .issuebuy-caption {
    text-align: center;
  }

  .issuebuy-options {
    @include clearfix;
  }

  .issuebuy-option {
    border-top: none;
    padding: 1.5*$issuebuy-pad;

    float: left;
    width: (100%/3);
  }

  .issuebuy-option + .issuebuy-option {
    border-left: solid 1px $c-divider;
  }
}