.issuetoc-entry {
  @include clearfix;
  margin-bottom: 1.5em;
  &:last-child { margin-bottom: 0; }
}

.issuetoc-author {
  @extend .t-sc-light;
  margin-bottom: .35em;
}

.issuetoc-piece {
  display: inline-block;
  font-family: $type-serif;
  @include rem(font-size, 21px);
  font-weight: weight(bold);

  a {
    @include underlined-link { color: black; }
  }

  &.is-lesson:before {
    padding-left:  .15em;
    padding-right: .3em;
    @include color-by-issue(color);
    content: "+";
  }

  a.current {
    @include color-by-issue(border-color);
    border-bottom: solid 2px;
    &:hover { border-bottom-color: inherit; }
  }
}