.issue_entry {
  overflow: auto;
}

.issue_entry-illo {
  margin-top: 2em;
  float: left;
  width: 25%;
  margin-right: 5%;
}

.issue_entry-text {
  overflow: hidden;
}

.issue_entry-author {
  @extend .t-sc-light;
}

.issue_entry-piece {
  margin-top: 1em;
}

.issue_entry-piece-title {
  @include rem(font-size, 22px);
  font-weight: weight(bold);
  line-height: 1.25;
  margin-bottom: .2em;
}

.issue_entry-piece-title a {
  @include black-link;
}

.issue_entry-piece-synopsis {
  @extend .synopsis;
}