.issuetoc-entry {
  @include clearfix;

  & + & {
    margin-top: 1.5em;
  }
}

.issuetoc-author {
  @extend %t-sc-light;
  margin-bottom: .5em;
}

.issuetoc-piece {
  display: inline-block;
  font-family: $type-serif;
  @include rem(font-size, 22px);
  font-weight: weight(semibold);

  a {
    @include underlined-link { color: black; }
  }

  &.is-lesson:before {
    padding-left:  .15em;
    padding-right: .1em;
    @include color-by-issue(color);
    content: "+";
  }

  a.current {
    @include color-by-issue(border-color);
    border-bottom: solid 2px;
    &:hover { border-bottom-color: inherit; }
  }
}