.issuetoc-entry + .issuetoc-entry {
  margin-top: 1em;
}

.issuetoc-author {
  @extend .t-sc;
  color: $c-text-caption;
}

.issuetoc-piece {
  display: inline-block;

  @include rem(font-size, 21px);
  font-family: $type-serif;
  font-weight: weight(bold);
  line-height: 1.25;
  margin-top: .1em;

  a { @include link-hover-issue { color: black; } }

  &.is-lesson:before {
    padding-left:  .15em;
    padding-right: .3em;
    @include color-by-issue(color);
    content: "+";
  }

  a.current {
    @include color-by-issue(border-color);
    border-bottom: solid 2px;
    &:hover { border-bottom-color: inherit; }
  }
}