.issue_entry {
  overflow: auto;
}

.issue_entry-illo {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.issue_entry-text {
  overflow: hidden;
}

.issue_entry-author {
  @extend .t-sc-light;
}

.issue_entry-piece {
  margin-top: 1em;
}

.issue_entry-piece-title {
  @extend .h-bigger;
  margin-bottom: .2em;
}

.issue_entry-piece-title a {
  @include black-link;
}

.issue_entry-piece-synopsis {
  @extend .synopsis;
}

.issue_entry {
  @include row;
  border-bottom: divider();
  @include spacing(padding-top padding-bottom, .25);
}

.issue_entry-illo {
  float: left;
  width: 9em;
  margin-right: 1.25em;
  + * { overflow: hidden; }
}

.issue_entry-text {
  margin-top: 1.5em;
  margin-bottom: 1em;
}