<div class="navgroup">
  <h2 class="navgroup-title">Issues</h2>
  <ul class="navgroup-items sidebar-issues">
    <% current_user.visible_issues.each do |issue| %>
      <li>
        <%= link_to_current nil, issue_path(issue.number), class: "issue-#{issue.number}" do %>
          Issue <%= issue.number %>
          <% if issue.new? %>
            <small class="tag">New</small>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>