// HEADER

.piece.is-article {
  @include media-from($bp-l) {
    .piece-header {
      @include row;
    }

    .piece-header-illustration,
    .piece-header-text {
      @include span-columns(6);
    }

    .piece-header-illustration {
      @include clearfix;

      figure {
        float: right;
        @include clearfix;
        @include rem(max-width, 27rem);
      }
    }
  }
}

.piece-header-text {
  @include media-upto($bp-l) {
    text-align: center;
    > * { @include centered; }
  }

  @include media-from($bp-l) {
    margin-top: 16%;
  }
  .is-lesson & {
    @include spacing(margin-top margin-bottom, 2.5);
  }
}

.piece-body {
  @include spacing(margin-bottom, 2.5);
  .footnotes { @include spacing(margin-top, 1.5); }
}
.piece-footer {
  @include spacing(margin-bottom, 1.5);
}

.piece-header-illustration img {
  @include media-upto($bp-l)  { max-height: 28em; }
  @include media-upto($bp-m)  { max-height: 24em; }
  @include media-upto($bp-s)  { max-height: 20em; }
}

.piece.is-lesson .piece-header-text {
  @extend .l-reading;
  text-align: center;
  > * { @include centered; }
}

.piece-footer-author {
  overflow: hidden;
}

.piece-footer-author-portrait {
  float: right;
  width: 7em;
  margin-left: 1.5em;
}

.piece-footer-author-bio {
  overflow: hidden;
}