// TODO remove in favour for newest bourbon/sass
@function valueof($val) {
  @return ($val / ($val * 0 + 1));
}

@mixin rem($props, $value, $base: $rem-base) {
  @if unitless($value)    { $value: $value * 1px; }
  @if not unitless($base) { $base: valueof($base); }

  @each $prop in $props {
    @if unit($value) == "px" 
    {
      #{$prop}: $value;
      #{$prop}: (valueof($value) / $base) * 1rem;
    } 
    @else if unit($value) == "rem" 
    { 
      #{$prop}: (valueof($value) * $base) * 1px;
      #{$prop}: $value;
    }
  }
}

// Base type
$rem-base:                22px;
$type-main-value:         valueof($rem-base);
$type-main-size:          $rem-base;

// Grid
$column: 60px;
$gutter: 35px;
$grid-columns: 12;
$max-width: 1350px;

// Breakpoints
$bp-xs: 500px;
$bp-s:  650px;
$bp-l:  850px;
$bp-xl: 1100px;

// Type
$type-sans:               "franklin-gothic-urw", sans-serif;
$type-serif:              "freight-text-pro", serif;