<% content_for :class_body, "bg-colored issue-4" %>
<% content_for :class_main, "l-flexcenter" %>

<section class="homepage"><div>
  <figure class="homepage-illo">
    <%= image_tag 'illustrations/illo-new-issue-4-desktop.svg' %>
  </figure>
  <div class="homepage-content">
    <div class="homepage-text">
      <h1>Issue 4 of The Manual is finally here.</h1>
      <p>Now in Print, Ebook, and Web editions.</p>
    </div>
    <p class="homepage-cta">
      <%= link_to "Buy Issue 4", shop_issue_path(issue:4), class: "button in-black in-caps is-larger" %>
      <%= link_to "Read Online", issue_path(issue:4), class: "button in-black in-caps is-larger" %>
    </p>
  </div>
</div></section>