<% @header_classes = "bg-dark issue-4" %>
<section class="<%= @header_classes %> l-p-xyyy"><div class="l-grid">
    <figure class="">
      <%= image_tag 'illustrations/illo-new-issue-4.svg' %>
    </figure>
    <div class="text t-biggest t-strong t-center l-m-tt">
      <p>The fourth issue of The Manual is here.</p>
      <p class="unspaced">Now in Print, Ebook, and Web editions.</p>
      <p>
        <a href="#" class="button in-black in-caps is-larger">Buy Issue 4</a>
        <a href="#" class="button in-black in-caps is-larger">Read Online</a>
      </p>
    </div>

</div></section>

<section class="l-p-xyy"><div class="l-grid">

  <div class="l-col-half">

  </div>

  <div class="l-col-half">
    <%= link_to 'store/subscription', class: 'plain-banner t-center' do %>
      <figure class="banner-image">
        <%= image_tag 'banners/banner-subscription.svg' %>
      </figure>
      <div class="banner-text">
        <p class="banner-title">Yearly Subscription</p>
        <p class="banner-description">The next three issues at 10% off.</p>
      </div>
    <% end %>
    <p class="l-m-t">
      <a href="#" class="ghost-button in-sc is-large is-wide">Buy The Manual and Support us</a>
    </p>
  </div>

</div></section>