<main>
  <section class="l-p-xyy issue-4 l-line-b"><div class="l-container">

    <div class="l-row l-p-yy">
      <div class="text colored-links l-col-3">
        <p class="t-sc-heavy">Our latest issue</p>
        <h1>Issue <span class="issue-number">4</span></h1>
        <p>Six articles and six lessons from outstanding writers, available in print, digital, and online editions.</p>
        <p><a href="#" class="button is-large t-strong is-wide">Explore Issue 4</a></p>
      </div>
      <figure class="l-col-9">
        <img src="http://placehold.it/1200x600" alt="">
      </figure>
    </div>

    <div class="l-row">
      <div class="l-col-3">
        <h2 class="t-sc-heavy">Buy issue</h2>
        <div class="buy buy-boxed l-m-y">
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price-heavy" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">10</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Audiobook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price-heavy" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">15</span>
              </a>
            </div>
          </div>
          <div class="buy-item">
            <div class="buy-item-text">
              <h4 class="buy-item-name">Print &amp; Ebook</h4>
            </div>
            <div class="buy-item-action">
              <a class="button price-heavy" href="#">
                <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="l-col-9">
        <h2 class="t-sc-heavy l-m-b">Read issue online</h2>
        <ul class="issuetoc">
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Craig Mod</h3>
            <p class="issuetoc-piece is-article"><a href="#">On Permission</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Wilson Miner</h3>
            <p class="issuetoc-piece is-article"><a href="#">Perennial Design</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Diana Kimball</h3>
            <p class="issuetoc-piece is-article"><a href="#">On Mentoring</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Jennifer Brook</h3>
            <p class="issuetoc-piece is-article"><a href="#">Platforms as Cultures</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">Paul Ford</h3>
            <p class="issuetoc-piece is-article"><a href="#">On File Formats, Very Briefly</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
          <li class="issuetoc-entry l-col-half">
            <h3 class="issuetoc-author">David Cole</h3>
            <p class="issuetoc-piece is-article"><a href="#">Made to Measure</a></p>
            <p class="issuetoc-piece is-lesson"><a href="#">Lesson</a></p>
          </li>
        </ul>
      </div>
    </div>

  </div></section>
</main>