<% content_for :class_body, "bg-colored kickstarter" %>
<% content_for :class_main, "l-flex-center" %>

<div class="l-p-xyyy">
  <figure class="l-hero-image">
    <%= image_tag 'illustrations/illo-new-issue-4-desktop.svg' %>
  </figure>
  <div class="text t-biggest t-strong t-center l-m-tt">
    <p class="t-big t-heavy">The Manual, Everywhere</p>
    <p class="unspaced">We’re moving beyond print — and we’re going <em>everywhere.</em></p>
    <p>
      <%= link_to "Back on Kickstarter", kickstarter_url, class: "button in-black in-caps is-larger external", rel: "external" %>
      <%= link_to "Read online", read_path, class: "button in-black in-caps is-larger" %>
    </p>
  </div>
</div>