<% content_for :class_body, "bg-colored issue-4" %>
<% content_for :class_main, "l-flex-center" %>

<div class="l-p-xyyy">
  <figure>
    <%= image_tag 'illustrations/illo-new-issue-4-desktop.svg' %>
  </figure>
  <div class="text t-biggest t-strong t-center l-m-tt">
    <p>Issue 4 of The Manual is finally here.</p>
    <p class="unspaced">Now in Print, Ebook, and Web editions.</p>
    <p>
      <a href="#" class="button in-black in-caps is-larger">Read Online</a>
      <a href="#" class="button in-black in-caps is-larger">Buy Issue 4</a>
    </p>
  </div>
</div>