<% content_for :class_body, "bg-colored kickstarter" %>
<% content_for :class_main, "l-flexcenter" %>

<section class="homepage"><div>
  <iframe src="/ks-animation/ks-animation.html" class="homepage-iframe" frameborder="0"></iframe>
  <div class="homepage-content">
    <div class="homepage-text">
      <h1>The Manual is moving beyond print.</h1>
      <p>And it’s going everywhere you want.</p>
    </div>
    <p class="homepage-cta"><%= link_to "Support Our Kickstarter", kickstarter_url, class: "button in-black in-caps is-larger", rel: "external" %></p>
    <p class="homepage-cta-secondary">and <%= link_to "read our web edition", read_path, class: "" %></p>
    </div>
  </div>
</div></section>