<h1 class="h1">Staff Picks</h1>
<div class="l-piecelist l-line-t">

  <div class="piece-unit l-line-b l-p-y">
    <!-- <p class="t-sc-heavy"><a href="#" class="issue-4">Issue 4</a></p> -->
    <h3 class="piece-unit-title">
      <a href="#">Perennial Design</a>
    </h3>
    <blockquote class="piece-unit-synopsis">
      <p>The process is the sediment, the deep root system where we store up knowledge over time.</p>
    </blockquote>
    <p class="byline">Wilson Miner in <a href="#" class="issue-4">Issue 4</a></p>
  </div>

  <div class="piece-unit l-line-b l-p-y">
    <!-- <p class="t-sc-heavy"><a href="#">Blog</a></p> -->
    <h3 class="piece-unit-title">
      <a href="#">Designing the Ebook Edition</a>
    </h3>
    <blockquote class="piece-unit-synopsis">
      <p>Rethinking what our ebooks should be, and starting from scratch.</p>
    </blockquote>
    <p class="byline">Paulo Pereira in <a href="#">The Blog</a></p>
  </div>

  <div class="piece-unit l-line-b l-p-y">
    <!-- <p class="t-sc-heavy"><a href="#" class="issue-2">Issue 2</a></p> -->
    <h3 class="piece-unit-title">
      <a href="#">The Colors of Grief</a>
    </h3>
    <blockquote class="piece-unit-synopsis">
      <p>I was only here to help my wife breathe again. Nothing outside of her mattered anymore.</p>
    </blockquote>
    <p class="byline">Alex Charchar in <a href="#" class="issue-2">Issue 2</a></p>
  </div>

  <div class="piece-unit l-line-b l-p-y">
    <!-- <p class="t-sc-heavy"><a href="#" class="issue-1">Issue 1</a></p> -->
    <h3 class="piece-unit-title">
      <a href="#">Frank’s Lesson</a>
    </h3>
    <blockquote class="piece-unit-synopsis">
      <p>“You know, Frank, after looking at this…” My eyes widened. Okay, here we go.</p>
    </blockquote>
    <p class="byline">Frank Chimero in <a href="#" class="issue-1">Issue 1</a></p>
  </div>

  <div class="piece-unit l-line-b l-p-y">
    <!-- <p class="t-sc-heavy"><a href="#" class="issue-3">Issue 3</a></p> -->
    <h3 class="piece-unit-title">
      <a href="#">Unstirring the Jam</a>
    </h3>
    <blockquote class="piece-unit-synopsis">
      <p>Genres and movements are the forms and philosophies around which creators gravitate.</p>
    </blockquote>
    <p class="byline">Ethan Marcotte in <a href="#" class="issue-3">Issue 3</a></p>
  </div>

  <div class="piece-unit l-line-b l-p-y">
    <!-- <p class="t-sc-heavy"><a href="#" class="c-periodical">The Periodical</a></p> -->
    <h3 class="piece-unit-title">
      <a href="#">Designer Duds</a>
    </h3>
    <blockquote class="piece-unit-synopsis">
      <p>Design finally won “a seat at the table.” Is it now set to lose it?</p>
    </blockquote>
    <p class="byline">Mills Baker in <a href="#" class="c-periodical">The Periodical</a></p>
  </div>

</div>