<%- title 'Staff Picks' %>

<ul class="l-stack-lined">
  <li class="piece-unit issue-3">
    <p class="piece-unit-author">Tiffani Jones Brown</p>
    <h2 class="piece-unit-title"><a href="#">Practicing Passion</a></h2>
    <p class="piece-unit-synopsis">There’s more to “do what you love“ than what is seems. What if you don’t know what you love? What if you’re not good at it?</p>
    <p class="piece-unit-metadata">
      <span class="piece-unit-silo">In <a href="#">Issue 3</a></span>
      <span class="piece-unit-topics"><a href="#">Fear</a>, <a href="#">Learning</a>, <a href="#">Process</a></span>
    </p>
  </li>

  <li class="piece-unit issue-1">
    <p class="piece-unit-author">Jon Tan</p>
    <h2 class="piece-unit-title"><a href="#">Taxidermista</a></h2>
    <p class="piece-unit-synopsis">On the web, there’s no substitute for visiting places — browsing a gallery of postcards just won’t cut it.</p>
    <p class="piece-unit-metadata">
      <span class="piece-unit-silo">In <a href="#">Issue 1</a></span>
      <span class="piece-unit-topics"><a href="#">Culture</a>, <a href="#">History</a>, <a href="#">Web</a></span>
    </p>
  </li>

  <li class="piece-unit issue-2">
    <p class="piece-unit-author">Karen M<span class="t-downcase">c</span>Grane</p>
    <h2 class="piece-unit-title"><a href="#">Ear Trumpets and Bionic Superpowers</a></h2>
    <p class="piece-unit-synopsis">Hiding in seemingly undesirable and unpopular technology lies the true chance of enriching people’s lives through design.</p>
    <p class="piece-unit-metadata">
      <span class="piece-unit-silo">In <a href="#">Issue 2</a></span>
      <span class="piece-unit-topics"><a href="#">Society</a>, <a href="#">Technology</a>, <a href="#">Responsiblity</a></span>
    </p>
  </li>

  <li class="piece-unit issue-3">
    <p class="piece-unit-author">Tiffani Jones Brown</p>
    <h2 class="piece-unit-title"><a href="#">Practicing Passion</a></h2>
    <p class="piece-unit-synopsis">There’s more to “do what you love“ than what is seems. What if you don’t know what you love? What if you’re not good at it?</p>
    <p class="piece-unit-metadata">
      <span class="piece-unit-silo">In <a href="#">Issue 3</a></span>
      <span class="piece-unit-topics"><a href="#">Fear</a>, <a href="#">Learning</a>, <a href="#">Process</a></span>
    </p>
  </li>

  <li class="piece-unit issue-1">
    <p class="piece-unit-author">Jon Tan</p>
    <h2 class="piece-unit-title"><a href="#">Taxidermista</a></h2>
    <p class="piece-unit-synopsis">On the web, there’s no substitute for visiting places — browsing a gallery of postcards just won’t cut it.</p>
    <p class="piece-unit-metadata">
      <span class="piece-unit-silo">In <a href="#">Issue 1</a></span>
      <span class="piece-unit-topics"><a href="#">Culture</a>, <a href="#">History</a>, <a href="#">Web</a></span>
    </p>
  </li>

  <li class="piece-unit issue-2">
    <p class="piece-unit-author">Karen M<span class="t-downcase">c</span>Grane</p>
    <h2 class="piece-unit-title"><a href="#">Ear Trumpets and Bionic Superpowers</a></h2>
    <p class="piece-unit-synopsis">Hiding in seemingly undesirable and unpopular technology lies the true chance of enriching people’s lives through design.</p>
    <p class="piece-unit-metadata">
      <span class="piece-unit-silo">In <a href="#">Issue 2</a></span>
      <span class="piece-unit-topics"><a href="#">Society</a>, <a href="#">Technology</a>, <a href="#">Responsiblity</a></span>
    </p>
  </li>

</ul>