<% push_page_title "Store"  %>

<main>
  <header class="l-pad-x-yy bg-gray l-divider-bottom"><div class="l-container text">
    <h1>Store</h1>
  </div></header>
  <!--
  <section id="cart" class="l-pad-x-y l-divider-bottom"><div class="l-grid text">
    <header class="l-col-3">
      <h2>Cart</h2>
    </header>
    <div class="l-col-9">
      Your cart is empty. Add some stuff below.
    </div>
  </div></section>

  <section id="subscriptions" class="l-pad-x-y l-divider-bottom"><div class="l-grid">
    <header class="l-shift-3 text">
      <h2>Subscriptions</h2>
    </header>
    <ul class="l-col-fill">

    </ul>
  </div></section>

  <section id="packs" class="l-pad-x-y l-divider-bottom"><div class="l-grid">
    <header class="l-shift-3 text">
      <h2>Collections</h2>
    </header>
    <ul class="l-col-fill l-pad-t">
      <li>
        <figure class="l-col-3"><img src="http://placehold.it/300x200" alt="" /></figure>
        <div class="l-col-6">
          yada
        </div>
        <div class="l-col-3">
          cart
        </div>
      </li>
    </ul>
  </div></section>
  -->

  <section id="issues" class="products l-pad-x-y"><div class="l-grid">
    <header class="products-heading text">
      <h2>Individual Issues</h2>
    </header>
    <ul class="product-list">
      <li class="product issue-4">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-4.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <div class="product-info">
          <h3>Issue <span class="issue-number">4</span></h3>
          <ul>
            <li>Wilson Miner</li>
            <li>Craig Mod</li>
            <li>Jennifer Brook</li>
            <li>Diana Kimball</li>
            <li>David Cole</li>
            <li>Paul Ford</li>
          </ul>
        </div>
        <div class="cart-box">
          ...
        </div>
      </li>
      <li class="product issue-3">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-3.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <div class="product-info">
          <h3>Issue <span class="issue-number">3</span></h3>
          <ul>
            <li>Paul Soulellis</li>
            <li>Nina Stössinger</li>
            <li>Jeremy Keith</li>
            <li>Tiffani Jones Brow</li>
            <li>Duane King</li>
            <li>Ethan Marcotte</li>
          </ul>
        </div>
        <div class="cart-box">
          ...
        </div>
      </li>
      <li class="product issue-2">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-2.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <div class="product-info">
          <h3>Issue <span class="issue-number">2</span></h3>
          <ul>
            <li>Alex Charchar</li>
            <li>Karen McGrane</li>
            <li>Trent Walton</li>
            <li>Josh Brewer</li>
            <li>Cennydd Bowles</li>
            <li>Mark Boulton</li>
          </ul>
        </div>
        <div class=" cart-box">
          ...
        </div>
      </li>
      <li class="product issue-1">
        <div class="product-shot">
          <figure>
            <%= image_tag 'store/products/issue-1.png' %>
          </figure>
          <p><a href="#">More photos</a> <span class="middot">&middot;</span> <a href="#">Ebook sample</a></p>
        </div>
        <div class="product-info">
          <h3>Issue <span class="issue-number">1</span></h3>
          <ul>
            <li>Simon Collison</li>
            <li>Dan Rubin</li>
            <li>Liz Danzico</li>
            <li>Frank Chimero</li>
            <li>Jon Tan</li>
            <li>The Standardistas</li>
          </ul>
        </div>
        <div class=" cart-box">
          ...
        </div>
      </li>
    </ul>
  </div></section>

</main>