<main>
  <header class="l-pad-x-yy bg-gray l-divider-bottom"><div class="l-col text">
    <h1>Support The Manual</h1>
    <p>All our pieces are free to read online, and our issues don’t contain advertising, so we rely on your support to continue publishing new issues. We’re an 100% independent publication, and your contribution goes towards paying our contributors and producing future issues.</p>
  </div></header>

  <section class="support-option l-pad-x-y l-divider-top"><div class="l-col text">
    <h2>Buy Issues and Illustrations</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ea, iste, cupiditate, aliquid laborum quasi assumenda mollitia consequuntur inventore accusantium officiis beatae sunt architecto nisi quo! Ullam, quam cumque molestiae?</p>
    <p><a href="#" class="button">Buy from the Store &rarr;</a></p>
  </div></section>

  <section class="support-option l-pad-x-y l-divider-top"><div class="l-col text">
    <h2>Subscribe to The Manual</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ea, iste, cupiditate, aliquid laborum quasi assumenda mollitia consequuntur inventore accusantium officiis beatae sunt architecto nisi quo! Ullam, quam cumque molestiae?</p>
    <p><a href="#" class="button">Become a Subscriber</a> from <strong>$10</strong> per issue</p>
  </div></section>

  <section class="support-option l-pad-x-y l-divider-top"><div class="l-col text">
    <h2>Become a Patron</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ea, iste, cupiditate, aliquid laborum quasi assumenda mollitia consequuntur inventore accusantium officiis beatae sunt architecto nisi quo! Ullam, quam cumque molestiae?</p>
    <p><a href="#" class="button">Become a Patron</a> for <strong>$50</strong> per issue.</p>
  </div></section>

</main>