<main class="page is-centered"><div>

  <header class="page-header is-centered">
    <h1>Support The Manual</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
    <p><strong>We publish three issues per year. You decide how much you want to pay for each.</strong></p>
  </header>
  
  <ul class="support-tiers">
    <li>
      <h2 class="support-tier-price"><button class="is-text">Free</button></h2>
      <div class="support-tier-content">
        <h3 class="support-tier-name">Reader</h3>
        <ul class="support-tier-rewards">
          <li>Access to Web Edition of previous issues.</li>
        </ul>
      </div>
    </li>
    <li>
      <figure class="support-tier-illustration"></figure>
      <h2 class="support-tier-price"><button><span class="currency">$</span>1</button> <small>or more</small></h2>
      <div class="support-tier-content">
        <h3 class="support-tier-name">Web Subscriber</h3>
        <ul class="support-tier-rewards">
          <li class="new">Access to <em>Web Edition</em> of every new issues.</li>
          <li class="new">Some other benefit for active subscriptions.</li>
          <li>Access to Web Edition of previous issues.</li>
        </ul>
      </div>
    </li>

    <li>
      <figure class="support-tier-illustration"></figure>
      <h2 class="support-tier-price"><button><span class="currency">$</span>10</button> <small>or more</small></h2>
      <div class="support-tier-content">
        <h3 class="support-tier-name">Ebook Subscriber</h3>
        <ul class="support-tier-rewards">
          <li class="new">Download of <em>Ebook Edition</em> of every new issue.</li>
          <li>Access to <em>Web Edition</em> of every new and previous issues.</li>
          <li>Some other benefit for active subscriptions.</li>
          <li>Access to Web Edition of previous issues.</li>
        </ul>
      </div>
    </li>

    <li class="is-featured">
      <figure class="support-tier-illustration"></figure>
      <h2 class="support-tier-price"><button><span class="currency">$</span>20</button> <small>or more</small></h2>
      <div class="support-tier-content">
        <h3 class="support-tier-name">Print Subscriber</h3>
        <ul class="support-tier-rewards">
          <li class="new"><em>Print Edition</em> of every new issue. Shipping paid separately.</li>
          <li>Download of <em>Ebook Edition</em> of every new issue.</li>
          <li>Access to <em>Web Edition</em> of every new and previous issues.</li>
          <li>Some other benefit for active subscriptions.</li>
          <li>Access to Web Edition of previous issues.</li>
        </ul>
      </div>
    </li>

    <li>
      <figure class="support-tier-illustration"></figure>
      <h2 class="support-tier-price"><button><span class="currency">$</span>50</button> <small>or more</small></h2>
      <div class="support-tier-content">
        <h3 class="support-tier-name">Friend</h3>
        <ul class="support-tier-rewards">
          <li class="new">Download the Ebook Edition of all previous issues.</li>
          <li class="new">Your name listed as a patron at the end of each new printed issue.</li>
          <li class="new">Exclusive unique gifs shipped for free with every new issue.</li>
          <li><em>Print Edition</em> of every new issue. Shipping paid separately.</li>
          <li>Download of <em>Ebook Edition</em> of every new issue.</li>
          <li>Access to <em>Web Edition</em> of every new and previous issues.</li>
          <li>Some other benefit for active subscriptions.</li>
          <li>Access to Web Edition of previous issues.</li>
        </ul>
      </div>
    </li>
  </ul>

</div></main>