<main>
  <header class="l-pad-x-yy bg-gray l-divider-bottom"><div class="l-col text">
    <h1>Support The Manual</h1>
    <p>All our pieces are free to read online, and our issues don’t contain advertising, so we rely on your support to continue publishing new issues. We’re an 100% independent publication, and your contribution goes towards paying our contributors and producing future issues.</p>
  </div></header>

  <section class="support-option l-pad-x-yyy l-divider-bottom"><div class="l-col text">
    <div class="l-units">
      <div class="l-unit-half">
        <h2>Issues</h2>
        <p><strong>Ebook Editions</strong> contain ePub, Mobi, and PDF formats. <a href="#">Download a sample.</a></p>
        <p><strong>Print Editions</strong> come in hardback format, and <span class="highlight">also include the ebook.</span> <a href="#">View photos.</a></p>
        <p class="spaced"><a href="#" class="button is-large">Buy at the Store</a></p>
      </div>
      <div class="l-unit-half">
        <table class="table hor ver">
          <thead>
            <tr>
              <th style="width: 36%"></th>
              <th style="width: 32%">Ebook</th>
              <th style="width: 32%">Print</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Issue <small>Single</small></th>
              <td class="price"><span class="currency">$</span>10</td>
              <td class="price"><span class="currency">$</span>25</td>
            </tr>
            <tr>
              <th>Volume <small>3 Issues</small></th>
              <td class="price"><span class="currency">$</span>25</td>
              <td class="price"><span class="currency">$</span>65</td>
            </tr>
            <tr>
              <th>All Issues <small>Issues 1-4</small></th>
              <td class="price"><span class="currency">$</span>30</td>
              <td class="price"><span class="currency">$</span>75</td>
            </tr>
          </tbody>
          <tfoot>
              <td></td>
              <td></td>
              <td><small>+&nbsp;shipping</small></td>
          </tfoot>
        </table>
      </div>
    </div>
  </div></section>

  <section class="support-option l-pad-x-yyy l-divider-bottom"><div class="l-col">
    <div class="l-units">
      <div class="l-unit-half text">
        <h2>Subscriptions</h2>
        <p>Becoming a subscriber makes sure you’ll never miss new issues of The Manual.</p>
        <p><span class="highlight">We publish three issues per year</span>, and will notify you before charging your card.</p>
        <p class="spaced"><a href="#" class="button is-large">Subscribe to The Manual</a></p>
      </div>
      <div class="l-unit-half">
        <table class="table hor ver">
          <thead>
            <tr>
              <th style="width: 50%;">Ebook Subscription</th>
              <th style="width: 50%;">Print Subscription</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Issue in <strong>Ebook</strong></td>
              <td>Issue in <strong>Print + Ebook</strong></td>
            </tr>
            <tr>
              <td colspan="2">Early access to web and ebook editions, one month before publicly available.</td>
            </tr>
            <tr>
              <td>
                <span class="price"><span class="currency">$</span>10</span>
                <small>Per Issue</small>
              </td>
              <td>
                <span class="price"><span class="currency">$</span>25</span>
                <small>+&nbsp;Shipping / Issue</small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div></section>

  <section class="support-option l-pad-x-yyy"><div class="l-col text">
    <h2>Become a Patron</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, ea, iste, cupiditate, aliquid laborum quasi assumenda mollitia consequuntur inventore accusantium officiis beatae sunt architecto nisi quo! Ullam, quam cumque molestiae?</p>
    <p><a href="#" class="button">Become a Patron</a> for <strong>$50</strong> per issue.</p>
  </div></section>

</main>