<h1 class="h1">Staff Picks</h1>
<div class="text">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus molestiae labore, veniam ex. Quod harum ducimus eaque omnis, praesentium. Quos quidem, sint dolores excepturi harum. Unde quae amet quidem quos.</p>
</div>