<footer class="site-menu site-footer"><div>
  <p>
    &#xFE0E;&#x2764; Made possible by our generous patrons, <a href="http://mailchimp.com">MailChimp</a> and <a href="http://hover.com">Hover</a>.
  </p>
  <nav>
    <ul>
      <%- if user_signed_in? -%>
      <li><%= link_to "Account", account_path %></li>
      <%- end -%>
      <li><%= link_to "Blog", blog_path, rel: "external" %></li>
      <li><a href="mailto:hi@themanual.org">Email</a></li>
      <li><a href="https://twitter.com/themanual" rel="external">Twitter</a></li>
      <%- if user_signed_in? -%>
      <li><%= link_to "Log out", destroy_user_session_path %></li>
      <%- else -%>
      <li><%= link_to "Log in", new_user_session_path %></li>
      <%- end -%>
    </ul>
  </nav>
</div></footer>
