<footer class="site-menu site-footer"><div>
  <p>
    The Manual is a design journal for the web.
  </p>
  <nav>
    <ul>
      <li><%= link_to "Blog", blog_path, rel: "external" %></li>
      <li><a href="mailto:hi@alwaysreadthemanual.com">Email</a></li>
      <li><a href="https://twitter.com/themanual" rel="external">Twitter</a></li>
      <% if user_signed_in?  %>
      <li><%= link_to "Account", account_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to_current("Log in", new_user_session_path) %></li>
      <% end %>
    </ul>
  </nav>
</div></footer>

<script type='text/javascript'>
  var _sf_async_config={};
  /** CONFIGURATION START **/
  _sf_async_config.uid = 57305;
  _sf_async_config.domain = 'themanual.org';
  _sf_async_config.useCanonical = true;
  // _sf_async_config.sections = 'Change this to your Section name';  //CHANGE THIS
  // _sf_async_config.authors = 'Change this to your Author name';    //CHANGE THIS
  /** CONFIGURATION END **/
  (function(){
    function loadChartbeat() {
      window._sf_endpt=(new Date()).getTime();
      var e = document.createElement('script');
      e.setAttribute('language', 'javascript');
      e.setAttribute('type', 'text/javascript');
      e.setAttribute('src', '//static.chartbeat.com/js/chartbeat.js');
      document.body.appendChild(e);
    }
    var oldonload = window.onload;
    window.onload = (typeof window.onload != 'function') ?
       loadChartbeat : function() { oldonload(); loadChartbeat(); };
  })();
</script>