<footer class="site-footer"><div class="l-grid l-stack-l">
  <section class="l-col-l-6">
    The Manual is a publication for designers.</p>
  </section>
  <section class="l-col-l-6">
    <ul class="inline-list l-fl-r">
      <li><a href="mailto:hi@alwaysreadthemanual.com">Email</a></li>
      <li><a href="https://twitter.com/themanual">Twitter</a></li>
    </ul>
  </section>
</div></footer>