<footer class="site-menu site-footer"><div>
  <p>
    The Manual is a publication for designers.
  </p>
  <nav>
    <ul>
      <li><a href="http://blog.alwaysreadthemanual.com" rel="external">Blog</a></li>
      <li><a href="mailto:hi@alwaysreadthemanual.com">Email</a></li>
      <li><a href="https://twitter.com/themanual" rel="external">Twitter</a></li>
      <% if user_signed_in?  %>
      <li><%= link_to "Account", account_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path %></li>
      <% else %>
      <li><%= link_to_current("Log in", new_user_session_path) %></li>
      <% end %>
    </ul>
  </nav>
</div></footer>