<footer class="site-menu site-footer"><div>
  <p>
    The Manual is a design journal for the web.
  </p>
  <nav>
    <ul>
      <%- if user_signed_in? -%>
      <li><%= link_to "Account", account_path %></li>
      <%- end -%>
      <li><%= link_to "Blog", blog_path, rel: "external" %></li>
      <li><a href="mailto:hi@themanual.org">Email</a></li>
      <li><a href="https://twitter.com/themanual" rel="external">Twitter</a></li>
      <%- if user_signed_in? -%>
      <li><%= link_to "Log out", logout_path %></li>
      <%- else -%>
      <li><%= link_to "Log in", login_path %></li>
      <%- end -%>
    </ul>
  </nav>
</div></footer>