<footer class="site-footer"><div>
  <nav>
    <ul class="site-footer--nav">
      <%- if user_signed_in? -%>
      <li><%= link_to "Account", account_path %></li>
      <%- end -%>
      <li><a href="mailto:hi@themanual.org">Email</a></li>
      <li><a href="https://twitter.com/themanual" rel="external">Twitter</a></li>
      <%- if user_signed_in? -%>
      <li><%= link_to "Log out", destroy_user_session_path %></li>
      <%- else -%>
      <li><%= link_to "Log in", new_user_session_path %></li>
      <%- end -%>
    </ul>
  </nav>
</div></footer>
