<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<%= csrf_meta_tags %>

<%# Title and Meta %>
<title><%= @page_title.join(' · ') + ' · ' if @page_title.any? %>The Manual</title>
<%= yield(:meta) %>

<%# JS %>
<script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script><![endif]-->


<script type="text/javascript" src="//use.typekit.net/zve6rgt.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>