<aside class="site-announcement"><div>
  <p>Hello! This is a preview of our upcoming site.</p>
  <p><a href="<%= kickstarter_url %>" rel="external" class="button kickstarter">Help us make it real on Kickstarter</a></p>
</div></aside>
<header class="site-header"><div class="l-grid">
  <h1>
    <%= link_to_current "The Manual", root_path %>
  </h1>
  <nav>
    <ul class="tabs">
      <li><%= link_to "Read",   read_path,  class: page_is_subpath_of('/read', 'current') %></li>
      <li><a href="http://buy.alwaysreadthemanual.com" class="external" rel="external">Shop</a></li>
    </ul>
  </nav>
</div></header>