.l-issue > * {
  overflow: auto;
  border-top: divider();
}

.l-issue-illo {
  display: none;
  .js & {
    @include media-from($bp-s) {
      display: block;
      float: right;
      width: 15em;
      margin-left: .5em;
      + * { overflow: hidden; }
    }
  }
}

.l-issue-text {
  @include spacing(margin-top margin-bottom);
}