.issue > * {
  @include clearfix;
}

.issue-illo {
  display: none;
  img { width: 100%; }
  .js & {
    @include media-from($bp-s) {
      display: block;
      float: right;
      width: 10.5em;
      margin-top: -.5em;
      @include spacing(margin-left);
      + * { overflow: hidden; }
    }
    @include media-from($bp-l)  { width: 12em; }
    @include media-from($bp-xl) { width: 16em; }
  }
}

.issue-pieces .piece-unit + .piece-unit {
  @include spacing(margin-top);
}

.issue-pieces .piece-unit .piece-unit-author,
.issue-pieces .piece-unit .piece-unit-silo {
  display: none;
}
