.l-issue > * {
  overflow: auto;
  border-top: divider();
}

.l-issue-illo {
  display: none;
  .js & {
    @include media-from($bp-s) {
      display: block;
      float: right;
      width: 10.5em;
      margin-left: 1em;
    }
    @include media-from($bp-l)  { width: 12em; }
    @include media-from($bp-xl) { width: 15em; }
  }
}

.l-issue-text {
  @include spacing(margin-top margin-bottom);
}