// Spacing Mixin
@mixin spacing($props, $times: 1) {
  @each $prop in $props {
    @include rem($prop, $times * 1.5rem);
  }
}

// Paddings
.l-p      { @include spacing(padding); }
.l-p-t    { @include spacing(padding-top,  1.0); }
.l-p-tt   { @include spacing(padding-top,  1.5); }
.l-p-b    { @include spacing(padding-bottom,  1.0); }
.l-p-bb   { @include spacing(padding-bottom,  1.5); }
.l-p-x    { @include spacing(padding-left padding-right,  1.0); }
.l-p-y    { @include spacing(padding-top  padding-bottom, 1.0); }
.l-p-yy   { @include spacing(padding-top  padding-bottom, 1.5); }
.l-p-xyy  { @extend .l-p-x; @extend .l-p-yy;  }
.l-p-xyyy { @extend .l-p-x; @include spacing(padding-top  padding-bottom, 2); }

// Margins
.l-m-t    { @include spacing(margin-top,  1.0); }
.l-m-tt   { @include spacing(margin-top,  1.5); }
.l-m-b    { @include spacing(margin-bottom,  1.0); }
.l-m-bb   { @include spacing(margin-bottom,  1.5); }
.l-m-y    { @extend .l-m-t;  @extend .l-m-b; }
.l-m-yy   { @extend .l-m-tt; @extend .l-m-bb; }
.l-m-t0   { margin-top: 0 !important; }

// General rules
.l-center     { @include centered; }
.l-container  { @include outer-container; }
.l-row        { @include row; }

.l-flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.l-wrapper {
  @extend .l-container;
  @extend .l-p-x;
  @include box-sizing(content-box);
}

.l-wrapper-grid {
  @extend .l-wrapper;
  @extend .l-row;
}

// Floats
.l-fl-l { float: left !important; }
.l-fl-r { float: right !important; }

// Dividers
.l-line-t { border-top: divider(); }
.l-line-b { border-bottom: divider(); }
.l-line   { @extend .l-line-t; @extend .l-line-b; }

// Grid
.l-grid {
  @extend .l-container;
  @extend .l-row;
}

.l-col {
  @extend .l-center;
  @include rem(max-width, $singlecol-width);  // Max width
  @include box-sizing(content-box);           // Reset box-sizing so padding can be applied "outside" the content
}

.l-hero-image img {
  max-height: 100%;
}

.l-piecelist > * {
  @include spacing(padding-top padding-bottom);
  border-top: divider();
}

// Other columns
@include make-grid();