// Row
.l-units {
  @include rem(margin-left margin-right, -1rem);
  @include clearfix;
}

.l-unit {
  @include rem(padding-left padding-right, 1rem);
}

// Breakpoint-Triggered
@mixin make-unit-layout($class: "") {
  @if ($class != "") { $class: "-#{$class}" }
  .l-unit#{$class}-half        { float: left; width: 100% * 1/2; }
  .l-unit#{$class}-third       { float: left; width: 100% * 1/3; }
  .l-unit#{$class}-two-thirds  { float: left; width: 100% * 2/3; }
  .l-unit#{$class}-fourth      { float: left; width: 100% * 1/4; }
  .l-unit#{$class}-fill        { width: 100%; }
  .l-unit#{$class}-rest        { overflow: hidden; }
}

@mixin make-unit-gaps($class: "") {
  @if ($class != "") { $class: "-#{$class}" }
  .l-unit#{$class}-shift-half        { margin-left: 100% * 1/2; }
  .l-unit#{$class}-shift-third       { margin-left: 100% * 1/3; }
  .l-unit#{$class}-shift-two-thirds  { margin-left: 100% * 2/3; }
  .l-unit#{$class}-shift-fourth      { margin-left: 100% * 1/4; }
}

// All Breakpoint Rules
@mixin make-unit-style($class: "") {
  @if ($class != "") { $class: "-#{$class}" }
  .l-unit#{$class}-half,
  .l-unit#{$class}-third,
  .l-unit#{$class}-two-thirds,
  .l-unit#{$class}-fourth,
  .l-unit#{$class}-fill,
  .l-unit#{$class}-rest { @extend .l-unit; }
}


@mixin make-unit-grid() {

  // NON Breakpoint-specific
  @include make-unit-style();
  @include make-unit-layout();
  @include make-unit-gaps();

  // Breakpoint-specific
  @each $bp in $bps {
    $class: nth($bp, 1);
    $value: nth($bp, 2);
    @include make-unit-style($class);
    @include media-from($value) {
      @include make-unit-layout($class);
      @include make-unit-gaps($class);
    }
  }

}

@include make-unit-grid();