.site-announcement {
  @extend .l-container;
  font-size: $type-l;
  background-color: $c-bg-gray;
  text-align: center;
  border-bottom: divider();
  font-weight: weight(medium);
  line-height: 1.2;
  a { font-weight: weight(bold); }
  @include media-from($bp-m) {
    p { display: inline-block; }
    p + p { margin-left: .3em; }
  }
  @include media-upto($bp-m) {
    p + p { margin-top: .5em; }
  }
}