%banner {
  display: block;
  padding: 1.5em 1em;
}

.solid-banner {
  @extend %banner;
  background-color: $c-blue;
  &, * { color: white !important; }
  &:hover, &:focus, &:active { background-color: black; }
}

.plain-banner {
  @extend %banner;
  background-color: $c-bg-gray;
  &, * { color: $c-text-black; }
  &:hover, &:focus, &:active {
    &, * { color: $c-blue; }
  }
}

.subscribe-banner {
  @extend %banner;
}

.banner-image + .banner-text { margin-top: 1em; }

.banner-text {
  font-size: $type-l;
  line-height: 1.4;
}

.banner-title {
  font-size: $type-l;
  font-weight: weight(bold);
}