// Layout
.boxes > div {
  // @include spacing(padding-top padding-bottom, 1.5);
}

// .boxes { border-top:    solid 1px $c-divider; }
.box { @include clearfix; }
.box-group > .box + .box { @include spacing(padding-top, 4/3); }

.box-title {
  @extend .t-sc;
  margin-bottom: 2em;
}

.box-subtitle {
  @extend .t-sc-light;
  line-height: 1em;
  margin-bottom:  0.75em;
  * + & { margin-top: 2em; }
}

.box-title--lined {
  @extend .box-title;
  line-height: 1;
  margin-bottom:  1.5em;
  padding-top:    1.2em;
  padding-bottom: 1.2em;
  border-bottom: divider();
}