.button {

  @include rem(font-size, 16px);
  @include transition(color .2s ease-in-out, border-color .2s ease-in-out);
  @include text-and-border-color($c-link-blue-nicer);

  padding: .7em .85em .75em;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  background: #fff;
  text-transform: uppercase;
  word-spacing: .1em;
  letter-spacing: .1em;
  font-weight: weight(medium);
  font-family: $type-sans;
  line-height: 1;

  cursor: pointer;


  @include text-and-border-color($c-link-blue-nicer);

  &.is-secondary {
    @include text-and-border-color(gray(40%));
  }

  &.is-large {
    @include rem(font-size, 18px);
    padding: .8em 1em .85em;
  }

  &:focus {
    @include text-and-border-color(gray(20%));
    outline: none;
  }

  &:hover {
    @include text-and-border-color(#000);
  }

  &:disabled,
  &.disabled {
    @include text-and-border-color(darken($c-divider, 5%));
    cursor: default;
  }
}

button.button {
  @include appearance(none);
}