// Layout
.featured_piece-illo {
  float: left;
  width: 20%;
  margin-right: 5%;
}

.featured_piece-text {
  overflow: hidden;
}

// Style

.featured_piece-title {

  font-weight: weight(bold);
  font-size: em(24, $rem-value);
  line-height: 1.2;
  margin-bottom: 0.25em;

  a       { color: gray(20%); }
  a:hover { color: black; border-bottom: solid 1px black; }

  &:first-child { padding-top: 0.75em; }
}



.featured_piece-synopsis {
  font-family: $type-serif;
  max-width: 18em;
  color: $c-text-blockquote;
  font-style: italic;
  font-size: em(20, $rem-value);
  line-height: 1.25;
}

.featured_piece-byline {
  // margin-top: 1.4em;
  color: gray(60%);
  font-size: em(16, $rem-value);

  a {
    font-weight: weight(medium);
  }
  strong { color: gray(30%); }
}

.featured_piece-author {
  @extend .t-sc-light;
  padding-top: 1em;

  &:first-child {
    padding-top:    0.6em;
    margin-bottom:  1.2em;
  }
}