// Form Layout
.field {

  + .field {
    @include rem(margin-top, 1.5rem);
  }

  .is-half {
    width: 50%;
  }

  .is-long {
    width: 100%;
  }

}

.field.is-composed {
  @include clearfix;

  .field-element {
    float: left;
    @include rem(padding-right, .5rem);
  }

  .field-element + .field-element {
    @include rem(padding-left, .5rem);
    padding-right: 0;
  }
}


//
// Field Labels
//

.field dt {
  @extend %heading-sc;
  display: block;
  font-weight: weight(medium);
  line-height: 1.2;
  margin-bottom: .25rem;
}

.field-checkradio {
  font-family: $type-sans;
  @include rem(font-size, 16px);
  margin-top: 0.5rem;

  $left: 25px;
  padding-left: $left;

  * + & {
    margin-top: .4rem;
  }

  dt + & {
    margin-top: .6rem;
  }

  input {
    display: block;
    float: left;
    margin-left: -$left;

    &[type=checkbox] {
      margin-top: 0.15em;
    }

    &[type=radio] {
      margin-top: 0.1em;
    }
  }

  label {
    display: block;
    font-family: $type-sans;
    overflow: hidden;
    line-height: 1.2;
    color: gray(30%);

    strong {
      font-weight: weight(medium);
    }
  }

  .label-note {
    display: block;
    @include rem(font-size, 15px);
    line-height: 1.2;
    color: gray(70%);
    margin-top: 0.25em;
  }
}







//
// Inputs
//

input,
select,
button {
  font-family: $type-sans;
}

input {
  max-width: 100%;

  @include placeholder {
    color: darken($c-divider, 10%);
    font-weight: weight(light);
  }
}

%input-text {
  @include appearance(none);
  @include transition(border-color .1s ease-in-out);
  @include rem(font-size, 18px);
  padding: .3em 0;

  border: 0;
  border-bottom: solid 2px $c-divider;
  color: gray(30%);

  &.is-invalid,
  &.is-invalid:focus {
    border-color: $c-field-invalid;
  }

  &.is-valid:focus {
    border-color: $c-field-valid;
  }

  &:focus {
    outline: none;
    border-color: darken($c-divider, 15%);
  }




}

.field input[type='text'],
.field input[type='email'],
.field input[type='password'],
.field input[type='url'],
.field input[type='number'],
.field input[type='search'] {
  @extend %input-text;
}