// Form Layout
.field {

  + .field {
    @include rem(margin-top, 1.5rem);
  }

  &.is-composed {
    @include clearfix;
  }

  .is-half        { width: 100% * 1/2; }
  .is-third       { width: 100% * 1/3; }
  .is-two-thirds  { width: 100% * 2/3; }
  .is-quarter     { width: 100% * 1/4; }
  .is-long        { width: 100%; }

}

// Nested under .field.is-composed
.field-element {
  float: left;
  @include rem(padding-right, .5rem);

  + .field-element {
    @include rem(padding-left, .5rem);
  }

  &:last-child {
    padding-right: 0;
  }
}


//
// Field Labels
//

%label {
  @extend %heading-sc;
  display: block;
  font-weight: weight(medium);
  line-height: 1.2;
  color: gray(40%);
}

%label-note {
  display: block;
  font-family: $type-sans;
  @include rem(font-size, 15px);
  line-height: 1.2;
  color: gray(70%);
  margin-top: 0.05em;
}








//
// Inputs
//

label, input, textarea,
select, option,
.label, .value {
  font-family: $type-sans;
}

input, textarea {
  max-width: 100%;

  @include placeholder {
    color: darken($c-divider, 10%);
    font-weight: weight(light);
  }
}

%input-text {
  @include appearance(none);
  @include transition(border-color .2s ease-in-out);
  @include rem(font-size, 18px);

  display: inline-block;

  margin: 0;
  padding: .3em 0;
  line-height: normal;

  border: 0;
  border-radius: 0;
  border-bottom: solid 1px darken($c-divider, 5%);

  color: gray(25%);

  &.strong,
  strong {
    font-weight: weight(bold);
  }

  &[disabled],
  &.disabled,
  &.value {
    border-bottom-color: transparent;
  }

  &.invalid,
  &.invalid:focus {
    border-color: $c-field-invalid;
  }

  &.valid:focus {
    border-color: $c-field-valid;
  }

  &:focus {
    outline: none;
    border-color: darken($c-divider, 30%);
  }
}

%textarea {
  @extend %input-text;
  border: 1px solid darken($c-divider, 5%);
  padding: .3em;
  &.noresize { resize: none; }
}

//
// Radio Buttons and Checkboxes
//


.field .checkradio {
  font-family: $type-sans;
  @include rem(font-size, 16px);
  margin-top: 0.5rem;

  $left: 25px;
  padding-left: $left;

  * + & {
    margin-top: .5rem;
  }

  input {
    display: block;
    float: left;
    margin-left: -$left;

    &[type="checkbox"] {
      margin-top: 0.15em;
    }

    &[type="radio"] {
      margin-top: 0.1em;
    }
  }

  label {
    display: block;
    overflow: hidden;
    line-height: 1.2;
    color: gray(40%);

    strong {
      font-weight: weight(medium);
    }
  }
}






//
// Apply styles to .field descendants
//

.field {

  dt {
    @include rem(margin-bottom, .2rem);
  }

  dt label {
    @extend %label;
  }

  .label-note {
    @extend %label-note;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="url"],
  input[type="number"],
  input[type="search"] {
    @extend %input-text;
  }

  textarea {
    @extend %textarea;
  }

  // Fake labels and values
  .label { @extend %label;      }
  .value { @extend %input-text; }
}

.field [data-shipping-cost="total"] {
  font-weight: weight(bold);
}