// Form Layout
.field {

  + .field {
    @include rem(margin-top, 1.5rem);
  }

  .is-half {
    width: 50%;
  }

  .is-third {
    width: 33.33%;
  }

  .is-two-thirds {
    width: 66.66%
  }

  .is-quarter {
    width: 25%;
  }

  .is-long {
    width: 100%;
  }

}

.field.is-composed {
  @include clearfix;

  .field-element {
    float: left;
    @include rem(padding-right, .5rem);
  }

  .field-element + .field-element {
    @include rem(padding-left, .5rem);
    padding-right: 0;
  }
}


//
// Field Labels
//

.field dt {
  font-family: $type-sans;
  margin-bottom: .2em;
}

.field dt label {
  @extend %heading-sc;
  display: block;
  font-weight: weight(medium);
  line-height: 1.2;
  color: gray(40%);
}

.label-note {
  display: block;
  @include rem(font-size, 15px);
  line-height: 1.2;
  color: gray(70%);
  margin-top: 0.25em;
}

.field-checkradio {
  font-family: $type-sans;
  @include rem(font-size, 16px);
  margin-top: 0.5rem;

  $left: 25px;
  padding-left: $left;

  * + & {
    margin-top: .5rem;
  }

  input {
    display: block;
    float: left;
    margin-left: -$left;

    &[type=checkbox] {
      margin-top: 0.15em;
    }

    &[type=radio] {
      margin-top: 0.1em;
    }
  }

  label {
    display: block;
    overflow: hidden;
    line-height: 1.2;
    color: gray(40%);

    strong {
      font-weight: weight(medium);
    }
  }
}







//
// Inputs
//

input,
select,
button,
textarea {
  font-family: $type-sans;
}

input {
  max-width: 100%;

  @include placeholder {
    color: darken($c-divider, 10%);
    font-weight: weight(light);
  }
}

%input-text {
  @include appearance(none);
  @include transition(border-color .2s ease-in-out);
  @include rem(font-size, 18px);

  padding: .3em 0;

  border: 0;
  border-bottom: solid 1px darken($c-divider, 5%);

  color: gray(25%);

  &.invalid,
  &.invalid:focus {
    border-color: $c-field-invalid;
  }

  &.valid:focus {
    border-color: $c-field-valid;
  }

  &:focus {
    outline: none;
    border-color: darken($c-divider, 30%);
  }
}

textarea {
  @extend %input-text;
  border: 1px solid darken($c-divider, 5%);
  padding: .3em;

  &.noresize {
    resize: none;
  }
}

.field input[type='text'],
.field input[type='email'],
.field input[type='password'],
.field input[type='url'],
.field input[type='number'],
.field input[type='search'] {
  @extend %input-text;
}