.form-section + .form-section {
  margin-top: 2.5em;
}

.form-actions {
  margin-top: 2em;
}

.boxed-form {
  @include rem(margin-top, 2rem);
  @include rem(padding, 1rem);
  border: divider();
  border-radius: 6px;

  .form-actions {
    @include rem(margin-right margin-bottom margin-left, -1rem);
    @include rem(padding, 1rem);
    border-top: divider();
  }
}

.form-heading, .form-subheading {
  font-family: $type-sans;

}

.form-heading {
  font-weight: weight(bold);
  @include rem(font-size, 19px);
  @include rem(margin-bottom, .25rem);

  + * { @include rem(margin-top,  1rem); }
  + .form-subheading { margin-top: 0; }
}

.form-subheading {
  font-family: $type-sans;
  @include rem(font-size, 16px);
  color: gray(55%);

  strong {
    font-weight: weight(medium);
    color: gray(40%);
  }

               @include rem(margin-bottom, 1rem);
  &.is-close { @include rem(margin-bottom, .5rem); }
}

.form-section {

}