.heading {
  @include container-spacing(padding-top padding-bottom, 1.5);
}

.heading {
  &.is-lined {
    border-bottom: divider();
  }

  > * {
    @include rem(max-width, 40rem);
  }

  > h1 {
    font-family: $type-sans;
    @include rem(font-size, 42px);
    font-weight: weight(bold);
    line-height: 1.2;
  }

  > p {
    $line-height: 1.5;
    color: gray(40%);
    line-height: $line-height;
    margin-top: .5em;

    & + p { margin-top: $line-height * .5em; }

    strong { font-weight: weight(bold); }
  }
}

.heading.is-centered {
  @include centered;
  text-align: center;
}

.subheading {
  @include container-spacing(margin-top,    2);
  @include container-spacing(margin-bottom, 1);

  > h2 {
    font-family: $type-sans;
    font-weight: weight(medium);
    display: inline;
    border-bottom: solid 2px $c-link-blue-nicer;
    padding-bottom: 0.05em;
    line-height: 1.2;
  }

  > h2 + p {
    @include rem(margin-top, .5rem);
  }

  > p {
    font-size: 0.85em;
    $line-height: 1.4;
    color: gray(30%);
    line-height: $line-height;

    & + p { margin-top: $line-height * .75em; }

    strong { font-weight: weight(bold); }
  }
}