.homepage {
  @extend .l-block;
  @include spacing(padding-bottom, 2);
}

.homepage-content {
  text-align: center;
  @include media-from($bp-m) {
    font-size: $type-ll;
  }
}

.homepage-text {
  margin-bottom: 1em;
  font-size: $type-l;
  @include media-from($bp-s) { font-size: $type-ll; }
  @include media-from($bp-m) { font-size: $type-lll; }

  line-height: 1.1;
  h1 { font-weight: weight(black); }
  > * + * { margin-top: .15em; }
}

.homepage-cta-secondary {
  margin-top:  .75em;
  font-weight: weight(medium);

  .bg-colored & a {
    color: white;
    @include hover { color: black; }
  }
}

.homepage-video {
  max-width: 800px;
  @include centered;
  @include spacing(margin-top margin-bottom, 1.5);
}

.homepage-animation {
  display: block;
  width: 100%;
  @include centered;
  @media screen and (orientation: landscape) and (max-height: 950px) { width: 75%; }
}
.homepage-animation-ratio { padding-bottom: 62.5%; position: relative; }
.homepage-animation-container { @include position(absolute, 0px 0px 0px 0px); }

.homepage-message {
  color: $c-text-gray;
  font-size: $type-ll;
  max-width: 34em;
  @include centered;
  @include spacing(margin-top, 4);
  

  h1 {
    color: $c-text-black;
    font-size: $type-lll;
    font-weight: weight(black);
  }

  h2 {
    font-weight: weight(black);
    margin-top: 1.5em;
    color: $c-text-black;
    font-size: $type-l;
    font-family: $type-serif;
  }

  p {
    margin-top: 1em;
    font-family: $type-serif;
    line-height: 1.4;
  }

  strong {
    font-weight: weight(bold);
    color: $c-text-body;
  }
}