.homepage {
  @extend .l-block;
  @include spacing(padding-bottom, 2);
}

.homepage-content {
  text-align: center;
  @include media-from($bp-m) {
    font-size: $fz-ll;
  }
}

.homepage-text {
  margin-bottom: 1em;
  font-size: $fz-l;
  @include media-from($bp-s) { font-size: $fz-ll; }
  @include media-from($bp-m) { font-size: $fz-lll; }

  line-height: 1.1;
  h1 { font-weight: weight(black); }
  > * + * { margin-top: .15em; }
}

.homepage-cta-secondary {
  margin-top:  .75em;
  font-weight: weight(medium);

  .bg-colored & a {
    color: white;
    @include hover { color: black; }
  }
}

.homepage-animation {
  display: block;
  position: relative;
  padding-bottom: 62.5%;
  > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}