.issue_entry-illo {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.issue_entry-text {
  overflow: hidden;
}

.issue_entry-author {
  @extend %heading-sc-light;
}

.issue_entry-piece {
  margin-top: 1em;
}

.issue_entry-piece-title {
  font-size: 1.1em;
  font-family: $type-sans;
  font-weight: weight(bold);
  line-height: 1.1;

  .is-lesson & a:link,
  .is-lesson & a:visited {
    // color: gray(40%);
  }

  a:hover { border-bottom: solid 1px; }
}

.issue_entry-piece-synopsis {
  font-size: .85em;
  font-style: italic;
  max-width: 20em;
  line-height: 1.3;
  margin-top: .3em;
  color: gray(50%);
}