.issuetoc-entry {
  @include clearfix;

  & + & {
    margin-top: 1.5em;
  }
}

.issuetoc-author {
  @extend %heading-sc;
  display: block;
  margin-bottom: 0.4em;
  color: gray(70%);
}

.issuetoc-piece {
  float: left;
  font-weight: weight(semibold);

  &.is-lesson a {
    color: gray(40%);
  }

  a:hover {
    border-bottom: solid 1px;
  }

  &.is-lesson:before {
    padding-left: 0.4em;
    padding-right: 0.1em;
    @include color-by-issue(color);
    content: "+";
  }

  a.current {
    @include color-by-issue(border-color);
    border-bottom: solid 2px;
    &:hover { border-bottom-color: inherit; }
  }
}