.issue-roster {
  @include row;
}

.issue-roster > * {
  @include media-upto($bp-m) {
    @include span-columns(4);
    @include omega(3n);
    &:nth-child(n+4) { margin-top: 1.5em; }
  }
  @include media-from($bp-m) { 
    @include span-columns(2);
  }
}

.issue-roster-author-portrait {
  max-width: 8em;
  @include centered;
}

.issue-roster-author-name {
  @include t-sc;
  color: $c-text-caption;
  text-align: center;
  margin-top: 1em;
}