.issue_entry-illo {
  float: left;
  width: 25%;
  margin-right: 5%;
}

.issue_entry-text {
  overflow: hidden;
}

.issue_entry-author {
  @include smallcaps-heading-thin;
  margin-bottom: 1.5em;
}

.issue_entry-piece + .issue_entry-piece {
  margin-top: 1.1em;
}

.issue_entry-piece-title {
  font-family: $type-sans;
  font-size: em(23, $rem-value);
  font-weight: weight(medium);
  line-height: 1.2;
  margin-bottom: 0.25em;

                  &, a:link, a:visited { color: gray(0%); }
  .is-lesson &  { &, a:link, a:visited { color: gray(45%); } }

  a:hover { border-bottom: solid 1px; }
}

.issue_entry-piece-synopsis {
  font-size: em(19, $rem-value);
  font-weight: weight(regular);
  font-style: italic;

  max-width: 20em;
  line-height: 1.35;

                  color: gray(40%);
  .is-lesson &  { color: gray(60%); }
}