.ks-stats {
}

.ks-stats-header {
  @extend .t-sc;
  margin-bottom: 1.5em;
  h3 { font-weight: weight(medium); }
  p  { color: $c-text-caption; margin-top: .5em; }
}

.ks-stats-bar {
  height: 5px;
  background: transparentize($c-kickstarter, .85);
  border-radius: 2px;
  overflow: hidden;
  @include spacing(margin-top);
  @each $i in $issues {
    .issue-#{$i} & {
      border-color: issue-color($i);
      background: transparentize(issue-color($i), .85);
    }
  }
}

.ks-stats-bar-raised {
  height: 100%;
  background-color: $c-kickstarter;
  @include color-by-issue(background);
}

.ks-stats-data {
  padding: 0 !important;
  > * { margin-top: 1em; }
}

.ks-stats-data-point {
  list-style-type: none;
}

.ks-stats-data-point-number {
  font-size: $fz-ll;
  line-height: 1;
  display: block;
  font-weight: weight(bold) !important;
}

.ks-stats-data-point-desc {
  display: block;
  @extend .t-sc;
  line-height: 1;
  margin-top: .4em;
}

.ks-stats-data-button {
  * { font-size: $fz-l; }
}