.navgroup {
  @include media-upto($bp-m) { font-size: 1.1em; }
}

.navgroup-title {
  @extend .t-sc;
  color: $c-text-body;
  font-weight: weight(medium);
  line-height: 1.1;
  margin-bottom: .2em;
}

.navgroup-items {
  line-height: 1.1;
  color: $c-text-faint;
  @include spacing(margin-bottom);

  ul {
    padding-left: .5em;
  }

  li > *:first-child {
    display: block;
    @include padding-v(.25em);
  }

  .soon {
    cursor: not-allowed;
    > *:first-child { text-decoration: line-through; }
    .tag { background-color: $c-text-faint; }
  }

  a {

    &.current {
      position: relative;
      font-weight: weight(medium);
      color: $c-text-gray;
      &:before {
        content: "▸";
        position: absolute;
        display: block;
        text-align: center;
        @include rem(width, 1rem);
        @include rem(left, -1rem);
        margin-top: em(-1);
      }
    }

    @include link-hover-blue { color: $c-text-caption; }

    @include color-by-issue-self(color) {
      @include hover {
        color: black;
      }
    }
  }
}