.navgroup-title {
  @extend .t-sc;
  line-height: 1.5em;
  margin-bottom: .25em;
  * + & { margin-top: 2em; }
}

.navgroup-items {
  $link-pad: .2em;
  line-height: 1.1;
  margin-top:  -1 * $link-pad;

  ul {
    padding-left: .5em;
  }

  a {
    display: block;
    @include padding-v($link-pad);
    @include link-hover-blue { color: $c-text-caption };
  }
  a.current {
    @include link-hover-blue { color: $c-text-black; }
  }


}