.navgroup-title {
  @extend .t-sc;
  color: $c-text-body;
  font-weight: weight(medium);
  line-height: 1.1;
  margin-bottom: .2em;
}

.navgroup-items {
  $link-pad: .2em;
  line-height: 1.1;

  ul {
    padding-left: .5em;
  }

  li > *:first-child {
    display: block;
    @include padding-v($link-pad);
  }

  a {
    &.current { font-weight: weight(medium); color: $c-text-gray; }
    @include link-hover-blue { color: $c-text-caption; };
  }
}

.navgroup-items + .navgroup-title {
  margin-top: 1.5em;
}