.page-header {
  @include container-spacing(margin-top margin-bottom, 2);
  &:first-child {
    margin-top: 0;
  }
}

.page-header {
  @include rem(max-width, 36rem);

  > h1 {
    @include rem(font-size, 40px);
    display: inline;
    border-bottom: solid 4px $c-link-blue-nicer;
    font-weight: weight(bold);
    font-family: $type-sans;
    line-height: 1.4;
  }

  > h1 + p {
    @include rem(margin-top, 1rem);
  }

  > p {
    $line-height: 1.5;
    color: gray(30%);
    line-height: $line-height;

    & + p { margin-top: $line-height * .5em; }

    strong { font-weight: weight(bold); }
  }
}

.page-header.is-centered {
  @include centered;
  text-align: center;
}