.page-header {
  @include container-spacing(margin-top margin-bottom, 2);
  &:first-child {
    margin-top: 0;
  }
}

.page-header {
  > h1 {
    @include rem(font-size, 40px);
    font-weight: weight(bold);
    font-family: $type-sans;
    
    display: inline;
    border-bottom: solid 4px $color-link-blue-nicer;
    line-height: 1.4;
  }

  > h1 + p {
    margin-top: 1rem;
  }

  > p {
    color: gray(30%);
    $line-height: 1.5;
    line-height: $line-height;

    & + p { margin-top: $line-height * .5em; }

    strong { font-weight: weight(bold); }
  }
}

.page-header.is-centered {
  > * {
    @include centered
  }

  > h1 {
    // text-align: center;
  }
}