// Layout
.piece-unit-title {
  font-size: $type-ll;
  font-weight: weight(bold);
  @include type-enhancements;
}

.piece-unit-author {
  color: $c-text-faint-less;
  white-space: nowrap;
  padding-top: .2em;
}

.piece-unit-header .piece-unit-title  { display: inline; }
.piece-unit-header .piece-unit-author { display: inline-block; }


.piece-unit-title a,
.piece-unit-silo  a {
  @include link-color-issue;
}

.piece-unit-synopsis {
  font-size: em(21, $rem-value);
  font-family: $type-serif;
  font-weight: weight(medium);
  line-height: 1.25;
  
  margin-top:    .25em;
  margin-bottom: .25em;

  color: $c-text-summary;
  max-width: 28em;
  @include type-enhancements;
  &.is-short  { max-width: 21em; }
  &.is-wide   { max-width: none; }
}

.piece-unit-metadata {
  color: $c-text-faint;
  line-height: 1.25;
}

.piece-unit-topics a {
  color: $c-text-gray;
  @include hover { color: $c-blue; }
}

@include media-upto($bp-s) {
  .piece-unit-metadata > * + * {
    display: block;
  }
}
@include media-from($bp-s) {
  .piece-unit-metadata > *:not(:last-child):after {
    content: "\00a0\00b7";
    display: inline-block;
    @include padding-h(.1em);
  }
}

.piece-unit.is-locked .piece-unit-header:before {
  content: "";
  display: inline-block;
  width: em(13, $rem-value);
  height: em(16, $rem-value);
  margin-right: .15em;
  background-image: image-url('ui/icon-locked.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.piece-unit.is-locked .piece-unit-title {
  text-decoration: line-through;
}