// Layout
.piece-unit-header > * {
  display: inline-block;
}

.piece-unit-title {
  font-size: $type-ll;
  font-weight: weight(bold);
  @include type-enhancements;
}

.piece-unit-author {
  color: $c-text-faint-less;
  white-space: nowrap;
  padding-top: .2em;
}


.piece-unit-title a,
.piece-unit-silo  a {
  @include link-color-issue;
}

.piece-unit-synopsis {
  font-size: em(21, $rem-value);
  font-family: $type-serif;
  font-weight: weight(medium);
  line-height: 1.25;
  
  margin-top:    .3em;
  margin-bottom: .6em;

  color: $c-text-summary;
  max-width: 28em;
  @include type-enhancements;
  &.is-short  { max-width: 21em; }
  &.is-wide   { max-width: none; }
}

.piece-unit-metadata {
  color: $c-text-faint;
  line-height: 1.25;
}

.piece-unit-topics a {
  color: $c-text-gray;
  @include hover { color: $c-blue; }
}

@include media-upto($bp-s) {
  .piece-unit-metadata > * + * {
    display: block;
  }
}
@include media-from($bp-s) {
  .piece-unit-metadata > *:not(:last-child):after {
    content: "\00a0\00b7";
    display: inline-block;
    @include padding-h(.1em);
  }
}