.price {
  font-family: $type-sans;
  letter-spacing: .06em;
  font-weight: weight(light);
  .symbol { padding-right: .3em; }
  .value { font-weight: weight(medium); }
}

.price-strong {
  font-weight: weight(regular);
  .value { font-weight: weight(bold); }
}