%price {
  font-family: $type-sans;
  letter-spacing: .05em;
  font-weight: weight(regular);
  .symbol   { padding-right: .3em; }
}

.price {
  @extend %price;
  .value { font-weight: weight(medium); }
}

.price-heavy {
  @extend %price;
  font-weight: weight(medium);
  .value { font-weight: weight(bold); }
}