.subscribe-tiers {
  border-top: divider();
  padding-top:    2em;
  padding-bottom: 2em;
}

.subscribe-tier {
  text-align: center;

  &.is-selected,
  &.is-selected .subscribe-tier-header {
    border-color: $c-link-blue-nicer;
  }
}

.subscribe-tier a {
  @include colored-link {
    color: $c-link-blue-nicer;
  }
}


.subscribe-tier-heading > * {
  display: inline;
  @include padding-h(.2em);
  &:first-child { padding-left: 0; }
  &:last-child  { padding-right: 0; }
}

.subscribe-tier-name {
  font-family: $type-serif;
  font-weight: weight(black);
  font-size: 1.75em;
}

.subscribe-tier-price {
  font-size: 1.65em;
  color: $c-link-blue-nicer;
  font-family: $type-sans;
  font-weight: weight(bold);

  .currency {
    opacity: 0.5;
    font-weight: weight(light);
  }
}

.subscribe-tier-note {
  @extend %heading-sc;
  color: gray(65%);
  margin-top: .75em;
  [data-shipping="cost"] {
    color: gray(50%);
    font-weight: weight(medium);
  }
}

.subscribe-tier-rewards {
  clear: both;
  border-top-width: 2px;
  @include margin-v(1.75em);
}

.subscribe-tier-rewards > * {
  font-family: $type-serif;
  @include rem(font-size, 20px);
  color: gray(20%);
  line-height: 1.4;

  + * {
    margin-top: 1em;
  }

  .striked {
    text-decoration: line-through;
    color: gray(80%);
  }
}

.subscribe-notes {
  @include spacing(padding, 1.5);
  &:last-child { padding-bottom: 0; }
  text-align: center;
  font-family: $type-sans;
  @include rem(font-size, 16px);
  color: gray(60%);
}

.subscribe-notes-mark {
  color: $c-link-blue-nicer;
  font-weight: weight(medium);
}