.subscribe-tier {
  text-align: center;

  &.is-selected,
  &.is-selected .subscribe-tier-header {
    border-color: $c-blue;
  }
}

.subscribe-tiers {

  + .subscribe-notes {
    @include spacing(padding-bottom, 1.5);
  }

  @include media-upto($bp-xl) {
    .subscribe-tier {
      @include spacing(padding-top padding-bottom, 1.5);
      border-bottom: divider();
    }

    + .subscribe-notes {
      @include spacing(padding-top padding-bottom, 1.5);
    }
  }
}



.subscribe-tier-heading > * {
  display: inline;
  @include padding-h(.2em);
  &:first-child { padding-left: 0; }
  &:last-child  { padding-right: 0; }
}

.subscribe-tier-name {
  font-family: $type-serif;
  font-weight: weight(black);
  font-size: 1.75em;
  @include media-upto($bp-s) {
    font-size: 1.4em;
  }
}

.subscribe-tier-price {
  font-size: 1.65em;
  color: $c-blue;
  font-family: $type-sans;
  font-weight: weight(bold);

  .currency {
    opacity: 0.5;
    font-weight: weight(light);
  }
}

.subscribe-tier-note {
  @extend %heading-sc;
  color: gray(65%);
  margin-top: .75em;
  [data-shipping="cost"] {
    color: gray(50%);
    font-weight: weight(medium);
  }
}

.subscribe-tier-rewards {
  clear: both;
  border-top-width: 2px;
  @include spacing(margin-top margin-bottom, 1.25);
}

.subscribe-tier-rewards > * {
  font-family: $type-serif;
  @include rem(font-size, 20px);
  color: gray(20%);
  line-height: 1.4;

  margin-top: .7em;
  &:first-child { margin-top: 0 !important; }

  .striked {
    text-decoration: line-through;
    color: gray(80%);
  }
}

.subscribe-notes {
  text-align: center;
  font-family: $type-sans;
  @include rem(font-size, 16px);
  color: gray(60%);
}

.subscribe-notes-mark {
  color: $c-blue;
  font-weight: weight(medium);
}