.sub-nav {
  // border-bottom: divider();
}

.sub-nav-list {
  @include clearfix;
  @extend %heading-sc;
  line-height: 1;
}

.sub-nav-list > * {
  display: inline-block;
  + * { margin-left: 2em; }

  a {
    display: block;
    margin-bottom: -1px;
    @include padding-v(1.2em);

    &:link,
    &:visited {
      color: gray(50%);
    }

    &.is-current {
      font-weight: weight(medium);

      &:link,
      &:visited {
        color: black;
      }
    }

    &:hover,
    &:focus,
    &:active {
      color: #000;
      // border-bottom-color: black;
    }
  }
}