.support-tiers {
  margin-top:     3rem;
  margin-bottom:  3rem;
}

.support-tiers-list {
  font-family: $type-sans;
  @include rem(font-size, 20px);
  line-height: 1.4;
}

.js .support-tiers-list {

}

.support-tiers-list > * {
  @include clearfix;
  @include transition(all 0.25s ease-in-out);

  border-top: 1px solid gray(95%);
  padding-top: 0.5rem;
  + * {
    margin-top: -0.5rem;
  }
  &:last-child {
    border-bottom: divider()
  }

  &.is-included:not(:first-child),
  &.is-selected:not(:first-child) {
    // border-top-color: transparent;
  }

  .js & {
    cursor: pointer;
  }
}

%support-tiers-list-name {
  display: none;
  float: right;
  width: 10%;
  // color: $c-link-blue-nicer;
  font-weight: weight(bold);
  // font-size: 1.1em;
  letter-spacing: 0.1em;

  text-align: right;

  .currency {
    opacity: 0.4;
    font-weight: weight(regular);
    padding-right: 0.1em;
  }

  .is-selected & {
    color: $c-link-blue-nicer;
  }

  .is-included & {
    color: $c-divider;
  }

  .is-included &:before {
    color: $c-link-blue-nicer;
  }
}

%support-tiers-list-reward {
  margin-right: 16%;
  border-top: solid 1px transparent;
  margin-bottom: 1rem;
  color: gray(20%);
  padding-left: 1.5rem;

  &, &:before {
    @include transition(all 0.2s ease-in-out);
  }

  &:not(.free):before {
    content: "+";
    color: $c-link-blue-nicer;
    width: 1.5rem;
    display: inline-block;
    margin-left: -1.5rem;
    text-align: center;
    @include transform(rotate(180deg));
    @include transform-origin(center center);
    -webkit-font-smoothing: antialiased;
  }

  strong {
    font-weight: weight(medium);
    // color: #000;
  }

  .is-excluded & {
    color: gray(75%);
  }

  .is-excluded &:before {
    @include transform(rotate(135deg));
    @include transform-origin(center center);
    color: $c-field-invalid;
  }
}


.support-tiers-list {
  dt { @extend %support-tiers-list-name; }
  dd { @extend %support-tiers-list-reward; }
}