.support-tiers-note {
  // @extend %heading-sc;
  // @include rem(font-size, 16px);
  text-align: center;
  // color: gray(30%);
  // color: $c-link-blue-nicer;
  font-style: italic;
  // font-weight: weight(medium);
  @include container-spacing(margin-top,    1.5);
  @include container-spacing(margin-bottom, 1.75);
}

.support-tier {
  border: solid 2px $c-divider;
  border-radius: 8px;
  text-align: center;

  &:hover {
    &, .support-tier-header {
      border-color: darken($c-divider, 20%)
    }
  }

  &.is-selected,
  &.is-selected .support-tier-header {
    border-color: $c-link-blue-nicer;
  }
}

.support-tier,
.support-tier-header {
  @include transition(border-color 0.1s ease-in-out);
}

.support-tier-header {
  border-bottom: solid 2px $c-divider;
}

.support-tier-header,
.support-tier-body {
  @include rem(padding-left padding-right, 1rem);
  @include rem(padding-top padding-bottom, 1.5rem);
}

.support-tier-price {
  font-family: $type-sans;
}

.support-tier a {
  @include colored-link {
    color: $c-link-blue-nicer;
  }
}





.support-tier-name {
  font-family: $type-serif;
  font-weight: weight(black);
  font-size: 1.5em;
}

.support-tier-price {

  margin-top: .75em;

  .number {
    color: $c-link-blue-nicer;
    font-size: 1.25em;
    letter-spacing: 0.05em;
  }

  .value {
    font-weight: weight(bold);
    @include padding-h(0.1em);
  }

  .currency {
    opacity: 0.5;
  }

  small {
    @extend %heading-sc;
    color: gray(50%);
    vertical-align: 30%;
  }
}

.support-tier-rewards {
  border-top-width: 2px;
  @include transition(all 0.1s ease-in-out);
  margin-bottom: 1.5em;
}

%supporter-reward {
  font-family: $type-serif;
  @include rem(font-size, 19px);
  color: gray(20%);
  line-height: 1.4;

  .striked {
    text-decoration: line-through;
    color: gray(80%);
  }

  & + & {
    margin-top: 1em;
  }
}

.support-tier-rewards > * {
  @extend %supporter-reward;
}

.support-benefits {
  margin-top: 3em;
  text-align: center;
}

.support-benefits-title {
  @extend %heading-sc;
  @include rem(font-size, 18px);
  font-weight: weight(medium);
  margin-bottom: 1.5em;
  // color: $c-link-blue-nicer;
  .underline {
    display: inline;
    padding-bottom: 0.1em;
    border-bottom: solid 0.15em $c-link-blue-nicer;
  }
}

.support-benefits-list {
  @include rem(font-size, 19px);
}

.support-benefits-list > * {
  color: gray(25%);
  line-height: 1.5;
  + * {
    margin-top: 0.75em;
  }
}