.support-tiers-note {
  font-style: italic;
  text-align: center;
  @include container-spacing(margin-top margin-bottom, 1.5);
}

.support-tiers-list {
  @include container-spacing(margin-top margin-bottom, 2);
  background-repeat:    repeat-y, repeat-y;
  background-image:     image_url('ui/pixel-divider.svg'),
                        image_url('ui/pixel-divider.svg');
  background-position:  (flex-grid($grid-columns/3) + (flex-gutter()/2))    0,
                        (flex-grid($grid-columns*2/3) + (flex-gutter()/2))  0;
}

.support-tier {
  text-align: center;
  @include padding-v(1.5em);

  &:hover {
    &, .support-tier-header {
      border-color: darken($c-divider, 20%)
    }
  }

  &.is-selected,
  &.is-selected .support-tier-header {
    border-color: $c-link-blue-nicer;
  }
}

.support-tier-price {
  font-family: $type-sans;
}

.support-tier a {
  @include colored-link {
    color: $c-link-blue-nicer;
  }
}





.support-tier-name {
  font-family: $type-serif;
  font-weight: weight(black);
  font-size: 1.5em;
}

.support-tier-price {

  margin-top: .75em;

  .number {
    color: $c-link-blue-nicer;
    font-size: 1.25em;
    letter-spacing: 0.05em;
  }

  .value {
    font-weight: weight(bold);
    @include padding-h(0.1em);
  }

  .currency {
    opacity: 0.5;
  }

  small {
    @extend %heading-sc;
    color: gray(50%);
    vertical-align: 30%;
  }

  [data-toggle="tooltip"] {
    border-bottom: dashed 1px $c-link-blue-nicer;
  }
}

.support-tier-rewards {
  border-top-width: 2px;
  @include margin-v(1.5em);
}

.support-tier-rewards > * {
  font-family: $type-serif;
  @include rem(font-size, 19px);
  color: gray(20%);
  line-height: 1.4;

  + * {
    margin-top: 1em;
  }

  .striked {
    text-decoration: line-through;
    color: gray(80%);
  }
}

.support-perks {
  margin-top: 3em;
  text-align: center;
}

.support-perks-title {
  @extend %heading-sc;
  @include rem(font-size, 18px);
  font-weight: weight(medium);
  margin-bottom: 1.5em;
  .underline {
    display: inline;
    padding-bottom: 0.1em;
    border-bottom: solid 0.15em $c-link-blue-nicer;
  }
}

.support-perks-list {
  @include rem(font-size, 19px);

  > * {
    color: gray(25%);
    line-height: 1.5;
    + * {
      margin-top: 0.75em;
    }
  }

}