.text {

  @include coretext;
  color: gray(30%);

  // line-height
  line-height: 1.4;
  @include media-upto($bp-s) { line-height: 1.25; }

  h1, h2, h3, h4 {
    color: black;
  }

  h1, h2 {
    font-family: $type-sans;
  }

  h1 {
    // font-size
    @include rem(font-size, 48px);
    @include media-upto($bp-m)  { @include rem(font-size, 40px); }
    @include media-upto($bp-s) { @include rem(font-size, 28px); }
    // other
    line-height: 1.1;
    font-weight: weight(black);
  }

  h1 + * {
    margin-top: .5em;
  }

  h2 {
    font-size: 1.1em;
    font-weight: weight(semibold);
    margin-top: 1em;
    &:first-child { margin-top: 0; }
  }

  h3, h4 {
    font-weight: weight(bold);
    margin-top: 1em;
    &:first-child { margin-top: 0; }
  }

  h3 + * { margin-top: .25em; }

  p + p {
    margin-top: .5em;
  }

  a {
    @include colored-link { color: $c-link-blue-nicer; }
  }

  strong { font-weight: weight(bold); }

}