.topic-list {
  line-height: 1.25;
}

.topic-list-name {
  font-weight: weight(medium);
}

.topic-list-description {
  margin-top: 0 !important; // TODO CHANGE
  color: $c-text-caption;
  strong {
    color: $c-text-gray;
  }
}