<nav id="sectionnav">
  <ul class="navgroup-items">
    <li><%= nav_link_to "The Manual",   {:action => 'index'} %></li>
    <li><%= nav_link_to "FAQ",        {:action => 'faq'} %></li>
    <li><%= nav_link_to "Stockists",  {:action => 'stockists'} %></li>
    <li><%= nav_link_to "Contact",    {:action => 'contact'} %></li>
  </ul>
</nav>