<div class="navgroup">
  <h2 class="navgroup-title">Pages</h2>
  <ul class="navgroup-items">
    <li><%= link_to_current "The Manual", {:action => 'index'} %></li>
    <li><%= link_to_current "License",    {:action => 'license'} %></li>
  </ul>
</div>