<nav id="sectionnav">
  <ul class="navgroup-items">
    <li><%= link_to_current "The Manual",   {:action => 'index'} %></li>
    <li><%= link_to_current "FAQ",        {:action => 'faq'} %></li>
    <li><%= link_to_current "Stockists",  {:action => 'stockists'} %></li>
    <li><%= link_to_current "Contact",    {:action => 'contact'} %></li>
  </ul>
</nav>