<%- cache [:nav, :read], expires_in: 30.minutes do -%>
<div class="navgroup">
  <h2 class="navgroup-title">Browse</h2>
  <ul class="navgroup-items">
    <li><%= link_to_current "Staff Picks", staffpicks_path %></li>
    <li class="soon"><span>Popular</span></li>
  </ul>

  <h2 class="navgroup-title">Issues</h2>
  <ul class="navgroup-items">
    <% Issue.public_issues.each do |issue| %>
      <li>
        <%= link_to_current nil, issue_path(issue: issue.number), class: "issue-#{issue.number}" do %>
          Issue <%= issue.number %>
          <% if issue.new? %>
            <small class="tag">New</small>
          <% end %>
        <% end %>
      </li>
    <% end %>

  </ul>

  <h2 class="navgroup-title">Topics</h2>
  <ul class="navgroup-items">

    <% Piece.active_topics.each do |topic| %>
      <li><%= link_to_current topic.titlecase, topic_path(topic: topic.downcase) %></li>
    <% end %>

  </ul>
</div>
<%- end -%>
