<nav id="sectionnav">
  <h2 class="navgroup-title">Browse</h2>
  <ul class="navgroup-items">
    <li><%= nav_link_to "Featured",             {:action => 'featured'} %></li>
    <li><%= nav_link_to "Subscription",  {:action => 'subscription'} %></li>
    <li><%= nav_link_to "Issues",               {:action => 'issues' } %></li>
  </ul>
</nav>