<nav id="sectionnav">
  <ul class="navgroup-items">
    <li><%= link_to_current "Featured",      {:action => 'featured'} %></li>
    <li><%= link_to_current "Subscription",  {:action => 'subscription'} %></li>
    <li><%= link_to_current "Issues",        {:action => 'issues' } %></li>
  </ul>
</nav>