%button {
  font-family: $type-sans;
  display: inline-block;
  border-radius: 4px;
  line-height: 1 !important;
  cursor: pointer;
  font-weight: weight(bold);

  padding: .4em;
  &.is-large  { padding: .6em; }
  &.is-larger { padding: .8em; }

  margin-right: .3em;
  margin-left:  .3em;

  &:first-child { margin-left: 0; }
  &:last-child  { margin-right: 0; }

  &.is-wide     { display: block; text-align: center; }

  &.in-caps {
    text-transform: uppercase;
    letter-spacing: .1em;
    word-spacing: .1em;
    font-size: .7em;
  }

  &.in-sc {
    @extend .t-sc;
    font-weight: weight(semibold);
    padding: .8em;
    &.is-large  { padding: 1em;    }
    &.is-larger { padding: 1.2em; }
  }
}

.button {

  @extend %button;

  color: white;
  border: solid 2px $c-blue;
  background-color: $c-blue;

  @include color-by-issue(border-color background-color);

  @include hover {
    color: white;
    background-color: black;
    border-color: black;
    outline: none;
  }

  &:disabled,
  &.disabled {
    color: darken($c-divider, 5%);
    border-color: darken($c-divider, 5%);
    cursor: default;
  }

  &.in-black {
    background-color: black;
    border-color:     black;
    @include hover {
      background-color: white;
      color: black;
    }
  }

  &.in-white {
    background-color: white;
    border-color:     black;
    color: black;
    @include hover {
      background-color: black;
      color: white;
    }
  }
}

.ghost-button {

  @extend %button;

  border: solid 2px $c-blue;
  color: $c-blue;
  @include color-by-issue(border-color color);
  svg *[fill] { @include color-by-issue(fill); }

  &.in-white {
    border-color: white;
    color: white;
    svg *[fill] { fill: white; }
  }

  @include hover {
    color: $c-text-black;
    border-color: black;
    outline: none;
    svg *[fill] {
      fill: $c-text-black;
    }
  }

  &.in-black {
    border-color: black;
    color: black;
    svg *[fill] { fill: black; }
    @include hover {
      color: white;
      border-color: white;
      svg *[fill] { fill: white; }
    }
  }
}

button.button {
  @include appearance(none);
}

.button-row > * { vertical-align: middle; }

.text-button {
  @include appearance(none);
  background: transparent;
  border-bottom: solid 1px transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: inline;
  line-height: inherit;
  font-size: inherit;
  font-family: inherit;

  @include hover {
    color: $c-text-black;
    outline: none;
  }
}