.button {
  // @include transition(all .1s linear);

  display: inline-block;
  padding: .4em .3em;
  border-radius: 4px;
  line-height: 1;
  cursor: pointer;

  margin-right: .3em;
  &:last-child { margin-right: 0; }

  // Styles
  &.is-large      { padding: .6em .5em; }

  // &.is-secondary  {
  //   color: gray(40%);
  //   border-color: gray(40%);
  // }

  &,
  &:link,
  &:visited { color: white; }
  border: solid 2px $c-blue;
  background-color: $c-blue;

  @include color-by-issue(border-color background-color);

  &:focus,
  &:hover {
    background-color: black;
    border-color: black;
    outline: none;
  }

  &:disabled,
  &.disabled {
    color: darken($c-divider, 5%);
    border-color: darken($c-divider, 5%);
    cursor: default;
  }
}

button.button {
  @include appearance(none);
}

.button-row {
  margin-top: 1em;
  > * { vertical-align: middle; }
}