.form-section + .form-section {
  @include spacing(margin-top, 2);
}

.form-actions {
  margin-top: 2em;
  font-weight: weight(medium);
  vertical-align: middle;
}

.form > div:first-child + *,
.form > .field:first-child {
  margin-top: 0 !important;
}
