.has-popover {
  position: relative;
  overflow: visible;
  display: inline-block;
}

.popover {
  display: none;
  > * { position: absolute; }
}

.popover-tip {
  width: $popover-tip-width;
  height: 11px;
  background-image: image-url('ui/popover-arrow-top.svg');
  background-size: 100% 100%;
  z-index: $z-popover+1;
  margin-top: -10px;
  left: 50%;
  margin-left: $popover-tip-width / -2 + 1;
}

.popover-content {
  @extend .t-reset;
  border-radius: 4px;
  z-index: $z-popover;
  background-color: white;
  border: divider();
  padding: 1em;

  @include rem(width, 18rem);

  .is-left  & { left: -1 * $popover-tip-width; }
  .is-right & { right: -1 * $popover-tip-width; }
  .is-center & {
    left: 50%;
    @include rem(margin-left, -9rem);
  }

  .reversefootnote { display: none; }
}

.buy-popover {
  @extend .popover;
  padding: .6em;
}

.nav-popover {
  @extend .popover;
  @include rem(width, 10rem);
  .is-center & { @include rem(margin-left, -5rem); }
  padding: 0;
  > li + li { border-top: divider(); }
}

.footnote-popover {
  @extend .popover;
  margin-top: 0px;
}