strong  { font-weight: weight(medium); }
em      { font-style: italic; }

%t-small    { font-size: $type-s; }
%t-base     { font-size: 1em; }
%t-large    { font-size: $type-l; }
%t-larger   { font-size: $type-ll; }
%t-largest  { font-size: $type-llll; }
%t-jumbo    { font-size: $type-llllll; }
@include media-upto($bp-m) {
  %t-largest  { font-size: $type-lll; }
  %t-jumbo    { font-size: $type-lllll; }
}

%h-styling {
  color: $c-text-black;
  font-weight: weight(bold);
  line-height: 1.1;
  @include type-enhancements;
}

%h-spacing {
  margin-bottom: .2em;
  * + & { margin-top: 1em; }
}

%h {
  @extend %h-spacing;
  @extend %h-styling;
}

// h1
.h-jumbo {
  @extend %t-jumbo;
  @extend %h-styling;
  font-weight: weight(black);
}

// h2
.h-largest {
  @extend %t-largest;
  @extend %h;
  font-weight: weight(black);
  margin-bottom: .35em;
}

// h3
.h-larger {
  @extend %t-larger;
  @extend %h;
  margin-bottom: .2125em;
}

// h4
.h-large {
  @extend %t-large;
  @extend %h;
  margin-bottom: .15em;
}

// h5
.h-base {
  @extend %t-base;
  @extend %h;
}

.h-spaced-top { margin-top: 1em; }
.h-note       { color: $c-text-faint; margin-top: .25em; } // TODO REPLACE

.t-small    { @extend %t-small; }
.t-base     { @extend %t-base; }
.t-large    { @extend %t-large; }
.t-larger   { @extend %t-larger; }
.t-largest  { @extend %t-largest; }
.t-jumbo    { @extend %t-jumbo; }

.t-sc {
  @include rem(font-size, 16px);
  letter-spacing: .0625em;
  word-spacing: .15em;
  text-transform: uppercase;
}

.t-sc-light {
  @extend .t-sc;
  color: $c-text-faint;
}

.t-sc-heavy {
  @extend .t-sc;
  font-weight: weight(medium);
  color: $c-text-body;
}

.h-sc {
  @extend .t-sc-heavy;
  margin-bottom: 1em;
}

.h-sc-spaced {
  margin-bottom: 1.5em;
}

.list-plain     { list-style-type: none; }
.list-bulleted  { padding-left: 1.05em; }

.list-plain,
.list-outdented { padding-left: 0; }

.list-normal   > * + * { margin-top: .25em; }
.list-loose    > * + * { margin-top: .5em; }
.list-looser   > * + * { margin-top: .75em; }
.list-double   > * + * { margin-top: 1em; }
.list-unspaced > * + * { margin-top: 0; }

.tagline {
  font-size: $type-l;
  font-weight: weight(medium);
  color: $c-text-body;
}

// Alignments
.t-l                { text-align: left !important; }
.t-c                { text-align: center !important; }
.t-r                { text-align: right !important; }
// Weights
.t-heavy            { font-weight: weight(black) !important; }
.t-strong           { font-weight: weight(bold) !important; }
// Spacing
.t-unspaced         { margin-top: 0 !important; margin-bottom: 0 !important; }
.t-unspaced-top     { margin-top: 0 !important; }
.t-unspaced-bottom  { margin-bottom: 0 !important; }

.t-reset {
  @include rem(font-size, 1rem);
  font-weight: weight(regular);
}

.tag {
  text-transform: uppercase;
  font-size: .7em;
  font-weight: weight(bold);
  padding: 2px 4px 2px;
  line-height: 1;
  border-radius: 3px;
  background: $c-text-faint;
  color: white;
  margin-left: .15em;
  position: relative;
  top: -.1em;
  @include color-by-issue(background);
}

.external:after {
  content: "→";
  display: inline-block;
  font-style: normal;
  margin-left: .25em;
  transform: rotate(-45deg);
  transform-origin: center center;
}