<p>We've received a request to login to The Manual from this address, please follow the link below to login</p>

<p><%= login_token_url(@token.token) %></p>

<p>Think link will work for the next 24 hours.</p>
