<section class="ks-stats">
  <div class="ks-stats-bar">
    <div class="ks-stats-bar-raised" style="width: {{ formatted_percent }}"></div>
  </div>
  <ul class="ks-stats-data l-row">
    <li class="ks-stats-data-point l-col-6 l-col-s-4">
      <strong class="ks-stats-data-point-number">
        {{ formatted_percent }}
      </strong>
      <span class="ks-stats-data-point-desc">raised</span>
    </li>
    <li class="ks-stats-data-point l-col-6 l-omega l-col-s-4">
      <strong class="ks-stats-data-point-number">
        {{ distance_of_time_in_words }}
      </strong>
      <span class="ks-stats-data-point-desc">to go</span>
    </li>
    <li class="ks-stats-data-button l-col-fill l-col-s-4">
      <a href="/kickstarter" class="button kickstarter is-wide in-caps is-large">Back us</a>
    </li>
  </ul>
</section>