{{#if class}}
<aside class="{{class}}" data-popover="popover">
{{else}}
<aside class="popover" data-popover="popover">
{{/if}}
  <div class="popover-tip"></div>
  <div class="popover-content">
    {{{html}}}
  </div>
</aside>