<% title "Credits" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
## Issues 1–3

#### Editorial
* Publisher: Andy McMillan
* Editor: Carolyn Wood

#### Design
* Print Design: Jez Burrows
* Ebook Design: Paulo Pereira
* Web Design: Paulo Pereira

## Issue 4

#### Editorial
* Publisher: Andy McMillan
* Editor in Chief: Liz Danzico
* Assistant Editor: Lisa Sanchez
* Copy Editor: Julie Steenson

#### Design
* Art Director: David McMillan
* Print Design: Frank Chimero
* Ebook Cover: Frank Chimero
* Ebook Design: Paulo Pereira
* Web Design: Paulo Pereira
<%- end -%><%- end -%>
</div></div>