<% title "History" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
The Manual is the brainchild of our publisher, Andy McMillan, and it began as a [Kickstarter project in early 2011](https://www.kickstarter.com/projects/goodonpaper/the-manual). The project’s successful funding made it possible for us to publish our [first issue](/read/issues/1) exclusively in print, followed later by [Issue 2](http://shop.themanual.org/products/issue-2) and [Issue 3](http://shop.themanual.org/products/issue-3) in 2012.

Each issue continues to feature six uninque, talented writers who contribute one substantial, thought-provoking article and one deeply personal lesson. Each article is illustrated by a contributing illustrator, with a separate bold art centerpiece in the middle of the book.

The Manual team took a hiatus to rebuild and resumed a regular publishing schedule in 2014, releasing Issue 4 in October.

## The Manual, Everywhere

We unveiled new offerings in fall 2014 with the launch of a new a Kickstarter project, [The Manual, Everywhere](). The project announced a drastic rethink of The Manual’s purpose and role in the community, introducing brand-new ebook and audiobook editions, an open web edition available to all under a Creative Commons license, and a refreshed, unified identity.

We want to stimulate reflection, reaction, and reference in our practice and help more people contribute to the conversation around design for the web.

And we want to build a sustainable publishing model on top of what has brought our discipline to where it is today: generosity, and the free sharing of ideas.

You can [read our web editions](/read) in full on this site and support us and our contributors by [buying issues from our temporary store](http://shop.themanual.org) or [backing our Kickstarter project]().

<%- end -%><%- end -%>
</div></div>