<% title "History" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%>
<%- markdown_filter do -%>
The Manual began as a [Kickstarter project in early 2011](https://www.kickstarter.com/projects/goodonpaper/the-manual), the brainchild of our publisher Andy McMillan, with Carolyn Wood as editor and Jez Burrows as designer completing the original team.

The project’s successful funding made it possible for The Manual to publish its [first issue](/read/issues/1), exclusively in print. It featured six talented writers, who contributed each with one substantial, though-provoking article, and one deeply personal lesson, all articles illustrated by six contributing illustrators, a format we continue to honor today.

## Print-Only

The initial conception of The Manual as print-only was intentional. At the time, we wrote:

> The physicality of The Manual has a purpose. Where do we find our true inspiration? Not in the distracting devices we stare at or peck at with our thumbs. It comes when we step away from technology and, instead, reflect.

The Manual would go on to publish the two remaining issues of its first volume during 2012, before entering an hiatus during which we reconsidered what The Manual should be, and focused on setting up a team that would make it possible.

During this time, we pondered on The Manual’s role in the community at large, and reconsidered what our presence should be. In order to contribute to the larger conversation about the growing maturity of design in the web, the voices of our writers needed to be a part of that conversation. Confining our articles and lessons in the printed pages of a book was antithetical to this idea, a decision that prioritized the romance for print over readers’ habits.

## Everywhere

The Manual came back in 2014, with the launch of a new a Kickstarter project, [The Manual, Everywhere](). The project is a culmination of the drastic rethink of what The Manual is and its role in the community, introducing brand-new ebook and audiobook editions, an open web edition available to all under a Creative Commons license, and a refreshed, unified identity.

We want to build a sustainable publishing model on top of what has brought our discipline to where it is today: generosity, and the free sharing of ideas. We want to stimulate reflection, reaction, and reference in our practice and help more people contribute to the conversation around design for the web.

You can [read our web editions]() in full on this very site, and support us and our contributors by [buying issues from our temporary store]() or [backing our Kickstarter project]().
<%- end -%>
<%- end -%>
</div></div>