<% title "The Manual" %>
<div class="l-line-t l-p text">
<%- cache do -%>
<%- markdown_filter do -%>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae reiciendis accusamus delectus illo nisi voluptatem incidunt repellendus atque dolores odit! Illum porro suscipit ducimus quam quas officia magni, magnam quia.

<%- end -%>
<%- end -%>
</div>