<% title "About" %>
<div class="l-p styled"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
The Manual is a design journal for the web. We evaluate _why_ we design for the web the way we do in issues that are published three times a year in multiple formats, including beautiful hardback books, ebooks, audiobooks, and an open, responsive web edition.

This work is a starting point for an ongoing conversation with our community about what it means to design for the web, including for whom we design and the principles we must bear in mind as we create our work.

### Contact

Feel free to contact us with questions, requests, bug reports, and feedback.

* Email: [hi@themanual.org](mailto:hi@themanual.org)
* Twitter: [@themanual](https://twitter.com/themanual)

Please note:

* We don’t do advertising.
* We don’t take proposals from writers or illustrators.
<%- end -%><%- end -%>
</div></div>
