<% title "License" %>
<div class="l-line-t l-p text">
<%- cache do -%>
<%- markdown_filter do -%>

Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur in ipsa, soluta laborum autem nemo itaque aliquam minus repudiandae quaerat vel a, sed reiciendis deleniti eos! Iure, repellendus. Iure, consectetur!

<%- end -%>
<%- end -%>
</div>