<% title "License" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
The Manual was originally published under a license that bound the work in our first three issues exclusively to print. This prohibited sharing and posting any of our content online and effectively restricted the amount of conversation any of the pieces could generate. Upon reflection, this felt highly antithetical to the entire purpose of The Manual, so we decided to correct this for future issues.

Moving forward, all editorial of The Manual is licensed under a [Creative Commons BY-NC-SA 3.0](http://creativecommons.org/licenses/by-nc-sa/3.0/) license.

We’re thankful for the generosity of the contributing authors of our first three issues, who graciously agreed to open their previous contributions under this new licensing arrangement so all our work can be freely available on the web and published in digital formats. We’re grateful to them for their willingness to take this step and encourage more reflection, reaction, and reference on what it means to design for the web.
<%- end -%><%- end -%>
</div></div>