<% title "Releases" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
#### v0.2.1: Oct 7th, 2014

* **Changed:** Updated editorial license to [CC BY-NC-SA 4.0](http://creativecommons.org/licenses/by-nc-sa/4.0/).

#### v0.2.0: Sep 24th, 2014

* **New:** Issue 4 page with information about the upcoming issue.

#### v0.1.1: Sep 23rd, 2014

* **New:** RSS feed for all pieces.
* **New:** Releases page.
* **Changed:** Footnotes lists’ arrows scroll up to respective footnote reference and open its popup.
* **Fixed:** Popovers are always contained within the browser’s viewport.
* **Fixed:** Minor visual glitches and copy updates.

#### v0.1.0: Sep 11th, 2014

* **New:** Everything. First public release of the site.

<%- end -%><%- end -%>
</div></div>