<% title "Releases" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
#### v0.1.1: Sep 23rd, 2014

* **New:** RSS feed for all pieces.
* **Changed:** Footnotes lists’ arrows scroll up to respective footnote reference and open its popup.
* **Fixed:** Popovers are always contained within the browser’s viewport.
* **Fixed:** Small visual glitches and updates to copy.

#### v0.1.0: Sep 11th, 2014

* **New:** Everything. First public release of the site.

<%- end -%><%- end -%>
</div></div>