<% title "Releases" %>
<div class="l-p styled"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
##### v0.2.4: Oct 21st, 2014

* **Changed:** Improved display of piece summaries in Browse, Issues, Topics, and article pages, with author’s name in line with the title.
* **Changed:** Updated link colors throughout the site for consistency.
* **Changed:** Small typography improvements on multiple pages for enhanced hierarchy and rythm.

##### v0.2.3: Oct 16th, 2014

* **Changed:** Small updates to default styling.
* **Changed:** Added pre-header to topic pages.

##### v0.2.2: Oct 14th, 2014

* **Changed:** Removed all mentions to the [Kickstarter project](https://www.kickstarter.com/projects/goodonpaper/the-manual-everywhere).
* **Changed:** Added recent blog posts to Issue 4 overview page.

##### v0.2.1: Oct 7th, 2014

* **Changed:** Updated editorial license to [CC BY-NC-SA 4.0](http://creativecommons.org/licenses/by-nc-sa/4.0/).

##### v0.2.0: Sep 24th, 2014

* **New:** Issue 4 page with information about the upcoming issue.

##### v0.1.1: Sep 23rd, 2014

* **New:** RSS feed for all pieces.
* **New:** Releases page.
* **Changed:** Footnotes lists’ arrows scroll up to respective footnote reference and open its popup.
* **Fixed:** Popovers are always contained within the browser’s viewport.
* **Fixed:** Minor visual glitches and copy updates.

##### v0.1.0: Sep 11th, 2014

* **New:** Everything. First public release of the site.

<%- end -%><%- end -%>
</div></div>
