<% title "Team" %>
<div class="l-line-t l-p text"><div class="l-reading">
<%- cache do -%>
<%- markdown_filter do -%>
The Manual is a team of five seasoned professionals:

* [Andy McMillan](https://twitter.com/andymcmillan), Publisher
* [Mari Huertas](https://twitter.com/marihuertas), Operations Director
* [Paulo Pereira](https://twitter.com/paulozoom), Digital Designer
* [Lisa Sanchez](https://twitter.com/lmsanchez), Editor in Chief
* [David McMillan](https://twitter.com/davetastic), Art Director
<%- end -%>
<%- end -%>
</div></div>