<% title "Team" %>
<div class="l-p styled"><div class="l-reading">
<%- cache do -%><%- markdown_filter do -%>
#### [Andy McMillan](https://twitter.com/andymcmillan), Publisher
Andy McMillan is a designer and coffee fiend who founded The Manual in 2011. He also is the founder of [Build](http://buildconf.com), a design conference, and co-organizer of [XOXO](http://xoxofest.com), an experimental arts and technology festival.

#### [Mari Huertas](https://twitter.com/marihuertas), Operations Director
Mari Huertas is a builder, a writer, and the founder of [Allies in Tech](https://twitter.com/alliesintech). She previously worked at [Obama for America](https://twitter.com/OFAtech), [Mozilla](https://twitter.com/mozilla), and [University of Chicago](https://twitter.com/UChicago). Her mantra: Build, be kind, and help people.

#### [Paulo Pereira](https://twitter.com/paulozoom), Digital Designer
Paulo is a designer and developer based in Berlin. Previously, he designed websites for [XOXO](http://2013.xoxofest.com) and [Build](http://2013.buildconf.com).

#### [Lisa Sanchez](https://twitter.com/lmsanchez), Editor in Chief
Lisa Sanchez is a writer at Dropbox and an advocate for the reading experience. Formerly at [Readmill](http://readmill.com), she studied at Harvard and began her career at a small academic press. While she now calls San Francisco home, she's lived in and loved Boston, Atlanta, and Berlin.

#### [David McMillan](https://twitter.com/davetastic), Art Director
David McMillan is an illustrator based in Bristol. He has created work for a various range of editorial clients, including Another Escape, The Loop, and Boneshaker, in addition to his own personal narrative projects.
<%- end -%><%- end -%>
</div></div>