/*

  # TODO

  - ::selection
  - tap-highlight colors

*/

// Base font sizes
html {
  font-size: $rem-base;
  @include media-upto($bp-xl) { font-size: $rem-base - 1px; }
  @include media-upto($bp-l)  { font-size: $rem-base - 2px; }
  @include media-upto($bp-m)  { font-size: $rem-base - 3px; }
  @include media-upto($bp-s)  { font-size: $rem-base - 5px; }
}

body {
  font-family: $type-serif;
  background-color: $c-bg-gray;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  background: white;
  flex: 1;
}

figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;

  @include colored-link {
    color: $c-blue;
  }

  @each $i in $issues {
    &.issue-#{$i},
    .issue-#{$i} &.color-issue,
    .issue-#{$i} .colored-links & {
      @include colored-link {
        color: issue-color($i);
      }
    }
  }
}

.bg-gray  { background-color: $c-bg-gray; }
.bg-white { background-color: white; }

.highlight {
  background-color: $c-highlight;
  color: black;
  display: inline;
  > * { color: black !important; }
}

.footnote {
  vertical-align: text-top;
  font-size: 0.8em;
  padding-left: 0.2em;
  letter-spacing: 1px;
  font-weight: weight(bold);

  &:target {
    outline: none;
  }
}

.clearfix {
  @include clearfix;
}

.debug, .debug * {
  background-color: rgba(255,0,0,0.05);
}

[data-toggle="tooltip"] {
  cursor: pointer;
}