/*

  # TODO

  - ::selection
  - tap-highlight colors

*/

// Base font sizes
html {
  font-size: $rem-base;
  @include media-upto($bp-xl) { font-size: $rem-base - 1px; }
  @include media-upto($bp-l)  { font-size: $rem-base - 2px; }
  @include media-upto($bp-s)  { font-size: $rem-base - 4px; }
}

body {
  font-family: $type-serif;
  background-color: white;
}

body {
  background: gray(96%);
}

body > main {
  background: white;
  // @include container-spacing(padding-bottom, 1.5);
}

figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;

  color: gray(30%);

  @include colored-link;

  @each $i in $issues {
    &.issue-#{$i},
    .issue-#{$i} &.issue-current {
      &:link, &:visited { color: issue-color($i); }
      @include colored-link;
    }
  }

}

.highlight {
  background-color: #FFFBDC;
  color: black;
  display: inline;
  > * { color: black !important; }
}

.footnote {
  vertical-align: text-top;
  font-size: 0.8em;
  padding-left: 0.2em;
  letter-spacing: 1px;
  font-weight: weight(bold);

  &:target {
    outline: none;
  }
}

.debug, .debug * {
  background: rgba(255,0,0,0.05);
}

[data-toggle="tooltip"] {
  cursor: pointer;
}