/*
  # TODO
  - ::selection
  - tap-highlight colors
*/

html {
  font-size: $rem-base;
  @include media-upto($bp-l) { font-size: $rem-base - 1; }
  @include media-upto($bp-m) { font-size: $rem-base - 2; }
  @include media-upto($bp-s) { font-size: $rem-base - 3; }
}

body {
  font-family: $type-sans;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, p, li, dt, dd, td, th {
  .wf-loading & { visibility: hidden; }
  .wf-active  & { @include animate(fadeIn, .1s); }
}

figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  outline: none;
  @include link-color-issue-self;
  transition: all 100ms ease-out;
  .kickstarter & {
    @include link-hover-black { color: $c-kickstarter; }
  }
}

@each $i in $issues {
  .c-issue-#{$i} {
    color: issue-color($i);
  }

  .issue-#{$i}.c-issue a,
  .issue-#{$i} .c-issue a,
  a.c-issue-#{$i} {
    @include link-hover-black {
      color: issue-color($i);
    }
  }
}