@mixin text-and-border-color($color) {
  border-color: $color;
  color: $color;
}

@mixin animation-fix {
  * { -webkit-transform: translateZ(0px); }
}

@mixin middot-break($h:.5em) {
  display: block; visibility: hidden; height: $h;
}

@function divider() {
  @return solid 1px $c-divider;
}

@function sub-divider() {
  @return dashed 1px darken($c-divider, 5%);
}

@mixin colored-link {
  &:link, &:visited {
    @content
  }

  &:hover,
  &:focus,
  &:active {
    color: #000;
  }
}

@mixin underlined-link {
  &:hover,
  &:focus,
  &:active {
    border-bottom: solid 1px;
  }
}

%visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

%heading-sc {
  font-family: $type-sans;
  @include rem(font-size, 15px);
  text-transform: uppercase;
  letter-spacing: .1em;
  word-spacing: .15em;
}

@mixin smallcaps-heading {
  @extend %heading-sc;
  font-weight: weight(bold);
  color: gray(20%);
}

@mixin smallcaps-heading-thin {
  @extend %heading-sc;
  color: gray(60%);
}

@mixin issue-number {
  font-family: $type-sans;
  font-weight: weight(bold);
  @include color-by-issue(background);

  font-size: .85em;
  padding-right: .32em;
  padding-left: .32em;
  padding-bottom: .06em;

  color: #fff;
  border-radius: .15em;
}

@mixin blacklink {
  color: #000;

  &:hover {
    text-decoration: underline;
  }
}

@mixin blacklink-child {
  a {
    @include blacklink;
  }
}