.bg-colored { @include color-by-issue-self(background); }
.bg-colored.kickstarter { background: $c-kickstarter; }
.bg-gray    { background-color: $c-bg-gray; }
.bg-white   { background-color: white; }

.no-resize { resize: none; }

.divider {
  border: none;
  border-top: divider();
  margin: 0;
  padding: 0;
  height: 0;
  @include spacing(margin-top margin-bottom);
}

.c-success  { color: $c-success; }
.c-error    { color: $c-error; }
.c-warning  { color: $c-warning; }

.highlight {
  display: inline;
  background-color: $c-highlight;
  color: $c-text-black;
  > * { color: black !important; }
}

.footnote {
  vertical-align: text-top;
  font-size: 0.8em;
  padding-left: 0.2em;
  letter-spacing: 1px;
  font-weight: weight(bold);

  &:target {
    outline: none;
  }
}

.marker-arrow {
  position: relative;
  font-weight: weight(medium);
  &:before {
    content: "▸";
    position: absolute;
    display: block;
    text-align: center;
    width: 1em;
    left: -1em;
    top: em(0);
  }
}

.br:before {
  display: block;
  content: "";
  height: 1px;
  margin-top: .25em;
}
@each $bp in $bps {
  $class: nth($bp, 1);
  $value: nth($bp, 2);
  @include media-upto($value) {
    .br-#{$class}:before {
      display: block;
      content: "";
      height: 1px;
      margin-top: .5em;
    }
  }
}
