<% payment_assets %>
<main class="is-padded"><div class="c-single is-centered">

  <header class="page-header is-centered">
    <h1>Become a supporter.</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
    <p><strong>We publish three issues per year. You decide how much you want to pay for each.</strong></p>
  </header>

  <div class="support-slider">
    <ul class="support-slider-legend">
      <li data-legend-value="1" class="is-tier"><span class="currency">$</span>1</li>
      <!-- <li data-legend-value="5"><span class="currency">$</span>5</li> -->
      <li data-legend-value="10" class="is-tier"><span class="currency">$</span>10</li>
      <!-- <li data-legend-value="15"><span class="currency">$</span>15</li> -->
      <li data-legend-value="20" class="is-tier"><span class="currency">$</span>20</li>
      <!-- <li data-legend-value="25"><span class="currency">$</span>25</li> -->
      <li data-legend-value="30"><span class="currency">$</span>30</li>
      <!-- <li data-legend-value="35"><span class="currency">$</span>35</li> -->
      <li data-legend-value="40"><span class="currency">$</span>40</li>
      <!-- <li data-legend-value="45"><span class="currency">$</span>45</li> -->
      <li data-legend-value="50" class="is-tier"><span class="currency">$</span>50</li>
      <!-- <li data-legend-value="55"><span class="currency">$</span>55</li> -->
      <li data-legend-value="60"><span class="currency">$</span>60+</li>
    </ul>
    <div class="support-slider-control"></div>
  </div>

  <%= form_for @user, url: support_path, html: {method: :post, class: "stripe-form form payment-form", autocomplete: :on, novalidate: :novalidate } do |f| %>
    <input type="hidden" name="stripe_token" value="" />
    <!--
    <span class="payment-errors"></span>

    <dl>
      <dt><label for="support-panel-form-price">$</label></dt>
      <dd><input type="number" id="support-panel-form-price" /></dd>
    </dl>-->

    <dl class="field is-composed">
      <dt><label for="">Name</label></dt>
      <dd class="field-element is-half"><%= f.text_field :first_name, class: 'is-long', placeholder: 'First', required: true %></dd>
      <dd class="field-element is-half"><%= f.text_field :last_name, class: 'is-long', placeholder: 'Last', required: true %></dd>
    </dl>

    <dl class="field">
      <dt><label for="supporter-signup-email">Email</label></dt>
      <dd><%= f.email_field :email, class: 'is-long', placeholder: 'yourname@domain.com', required: true, id: 'supporter-signup-email' %></dd>
    </dl>

    <dl class="field">
      <dt><label for="">Card Number</label></dt>
      <dd><input required type="text" size="20" name="cc-number" class="cc-number is-long" placeholder="0000 0000 0000 0000" pattern="\d*" /></dd>
    </dl>

    <div class="field is-composed">
      <dl class="field-element is-half">
        <dt><label for="">CVC</label></dt>
        <dd><input required type="text" name="cc-cvc" class="cc-csc is-long" autocomplete="off" placeholder="" pattern="\d*" value=""/></dd>
      </dl>

      <dl class="field-element is-half">
        <dt><label for="supporter-signup">Expiration Date</label></dt>
        <dd><input id="supporter-signup" required type="text" name="cc-exp" class="cc-exp is-long"  placeholder="MM / YY" pattern="\d*" value="" /></dd>
      </dl>
    </div>

    <div class="form-actions">
      <button type="submit" class="button">Support The Manual</button>
    </div>

  <% end %>

</div></main>