<% payment_assets %>
<main class="is-padded"><div class="c-single is-centered">

  <header class="page-header is-centered">
    <h1>Become a supporter.</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
    <p><strong>We publish three issues per year. You decide how much you want to pay for each.</strong></p>
  </header>

  <div class="support-panel">
    <div class="support-slider"></div>
  </div>

  <%= form_tag support_path, method: :post, class: "stripe-form form-payment", autocomplete: :on, novalidate: :novalidate do %>

		<input type="hidden" name="stripe_token" value="" />
    <span class="payment-errors"></span>

    <dl>
      <dt><label for="support-panel-form-price">$</label></dt>
      <dd><input type="number" id="support-panel-form-price" /></dd>
    </dl>

    <fieldset>
      <dl>
        <dt><label for="">Name</label></dt>
        <dd><input required type="text" name="first_name" placeholder="First" id="" /></dd>
        <dd><input required type="text" name="last_name" placeholder="Last" id="" /></dd>
      </dl>

      <dl>
        <dt><label for="">Email</label></dt>
        <dd><input required type="email" name="email" placeholder="" id="" /></dd>
      </dl>
    </fieldset>

    <fieldset>
      <dl>
        <dt><label for="">Card Number</label></dt>
        <dd><input required type="text" size="20" class="cc-number"  pattern="\d*" value=""/></dd>
      </dl>

      <dl>
        <dt><label for="">CVC</label></dt>
        <dd><input required type="text" class="cc-csc" autocomplete="off" pattern="\d*" value=""/></dd>
      </dl>

      <dl>
        <dt>Expiration Date</dt>
        <dd><input required type="text" class="cc-exp"  placeholder="MM / YY" pattern="\d*" value="" /></dd>
      </dl>
    </fieldset>

		<button type="submit">Subscribe</button>

  <% end %>

</div></main>