<main class="l-padded"><div>

  <header class="heading is-centered">
    <h1>Become a subscriber</h1>
    <p>We’re an independent publication, and we rely on our readers for support. We pay our writers and illustrators well for their work, and none of our editions contain any advertising. Please consider subscribing to support The Manual.</p>
  </header>

  <section class="support-tiers">
    <ul class="l-grid support-tiers-list animated fadeInDown">
      <li class="l-grid-unit-third support-tier">
        <h2 class="support-tier-name">Digital</h2>
        <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">10</span></span></h3>
        <ul class="support-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="striked">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:digital) %>" class="button">Subscribe to Digital</a>
      </li>

      <li class="l-grid-unit-third support-tier">
        <h2 class="support-tier-name">Print</h2>
        <h3 class="support-tier-price">
          <span class="number"><span class="currency">$</span><span class="value">20</span></span>
          <small>+ shipping<a href="#shipping" class="footnote">*</a></small>
        </h3>
        <ul class="support-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:print) %>" class="button">Subscribe to Print</a>
      </li>

      <li class="l-grid-unit-third support-tier">
        <h2 class="support-tier-name">Patron</h2>
        <h3 class="support-tier-price">
          <span class="number"><span class="currency">$</span><span class="value">50</span></span>
          <small>+ shipping<a href="#shipping" class="footnote">*</a></small>
        </h3>
        <ul class="support-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li>Print edition (A5 hardbound book)</li>
          <li><span class="">Exclusive gift with each issue</span></li>
          <li><span class="">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:friend) %>" class="button">Become a Patron</a>
      </li>
    </ul>

    <p class="support-tiers-note">
      The Manual publishes three issues per year. All prices per issue.
    </p>

    <p class="support-shipping" id="shipping">
      <span class="support-shipping-mark">*</span>
      <span class="support-shipping-estimate">Estimating shipping cost for your location…</span>
      Exact cost will be calculated at checkout.
    </p>

  </section>

</div></main>

<% content_for :footer do %>
<script>$(function() {

  $('.support-tier a.footnote').click(function() {
    var $shipping = $("#shipping");
    $.scrollTo($shipping, {
      duration: 250,
      onAfter: function() {
        $shipping.animateCss('flash');
      }
    });
    return false;
  });

  $.getEstimatedShippingCost({}, function(data){
    var message = 'We could not estimate shipping cost for your location.';
    if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
      message = 'Estimated shipping for ' + data.response.ip_country_name + '.';
    }
    $("#shipping .support-shipping-estimate").animateCss('fadeIn').html(message);
  });
});</script>
<% end %>