<main class="l-padded"><div>

  <header class="heading is-centered">
    <h1>Become a supporter</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
  </header>

  <section class="support-tiers">
    <p class="support-tiers-note">
      <span class="highlight">The Manual publishes three issues per year. All prices per issue.</span>
    </p>

    <ul class="l-grid support-tiers-list animated fadeInDown">
      <li class="l-grid-unit-third support-tier">
        <h2 class="support-tier-name">Digital</h2>
        <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">10</span></span></h3>
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li><span class="striked">Hardback shipped worldwide</span></li>
          <li><span class="striked">Name listed in issue’s colophon</span></li>
          <li><span class="striked">Limited edition gift with every issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:digital) %>" class="button">Get Digital</a>
      </li>

      <li class="l-grid-unit-third support-tier">
        <h2 class="support-tier-name">Digital + Print</h2>
        <h3 class="support-tier-price">
          <span class="number"><span class="currency">$</span><span class="value">20</span></span>
          <small>+ shipping<a href="#shipping" class="footnote">*</a></small>
        </h3>
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li><span class="">Hardback shipped worldwide</span></li>
          <li><span class="striked">Name listed in issue’s colophon</span></li>
          <li><span class="striked">Limited edition gift with every issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:print) %>" class="button">Get Digital + Print</a>
      </li>

      <li class="l-grid-unit-third support-tier">
        <h2 class="support-tier-name">Friend</h2>
        <h3 class="support-tier-price">
          <span class="number"><span class="currency">$</span><span class="value">50</span></span>
          <small>+ shipping<a href="#shipping" class="footnote">*</a></small>
        </h3>
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li>Hardback shipped worldwide</li>
          <li><span class="">Name listed in issue’s colophon</span></li>
          <li><span class="">Limited edition gift with every issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:friend) %>" class="button">Become a Friend</a>
      </li>
    </ul>

    <div class="support-perks l-singlecol-centered">
      <h3 class="support-perks-title"><span class="underline">All supporters also get</span></h3>
      <ul class="support-perks-list">
        <li>Early access to Web and Ebook editions of new issues, before they’re released publicly.</li>
        <li>Supporters-only newsletter, where we’ll announce writers and illustrations of future issues, and other progress updates and behind-the-scenes news about making The Manual.</li>
      </ul>
    </div>

    <p class="support-shipping" id="shipping">
      <span class="support-shipping-mark">*</span>
      <span class="support-shipping-estimate">Estimating shipping cost for your location…</span>
      Exact cost can only be calculated at checkout.
    </p>

  </section>

</div></main>

<% content_for :footer do %>
<script>$(function() {

  $('.support-tier a.footnote').click(function() {
    var $shipping = $("#shipping");
    $.scrollTo($shipping, {
      duration: 250,
      onAfter: function() {
        $shipping.animateCss('flash');
      }
    });
    return false;
  });

  $.getEstimatedShippingCost({}, function(data){
    var message = 'We could not estimate shipping cost for your location.';
    if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
      message = '<em>Estimated shipping cost for ' + data.response.ip_country_name + ' is <strong>$' + data.response.cost + '.</strong></em>';
    }
    $("#shipping .support-shipping-estimate").animateCss('flash').html(message);
  });
});</script>
<% end %>