<% payment_assets %>
<main class="l-padded"><div>

  <header class="heading is-centered">
    <h1>Become a supporter</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
  </header>

  <ul class="l-grid">
    <li class="l-grid-unit-third support-tier animated fadeInLeft">
      <div class="support-tier-header">
        <figure class="support-tier-image"><img src="http://placehold.it/550x350/ffffff/0055DD" alt=""></figure>
        <h2 class="support-tier-name">Digital</h2>
        <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">10</span></span></h3>
      </div>
      <div class="support-tier-body">
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li><span class="striked">Hardback shipped worldwide</span></li>
          <li><span class="striked">Name listed in issue’s colophon</span></li>
          <li><span class="striked">Limited edition gift with every issue</span></li>
        </ul>
        <div class="button-wrapper">
          <a href="<%= support_checkout_path(:digital) %>" class="button">Get Digital</a>
        </div>
      </div>
    </li>

    <li class="l-grid-unit-third support-tier animated fadeInUp">
      <div class="support-tier-header">
        <figure class="support-tier-image"><img src="http://placehold.it/550x350/ffffff/0055DD" alt=""></figure>
        <h2 class="support-tier-name">Digital + Print</h2>
        <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">20</span></span> <small>+ shipping</small></h3>
      </div>
      <div class="support-tier-body">
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li><span class="highlight">Hardback shipped worldwide<sup class="footnote"><a href="#">*</a></sup></span></li>
          <li><span class="striked">Name listed in issue’s colophon</span></li>
          <li><span class="striked">Limited edition gift with every issue</span></li>
        </ul>
        <div class="button-wrapper">
          <a href="<%= support_checkout_path(:print) %>" class="button">Get Digital + Print</a>
        </div>
      </div>
    </li>

    <li class="l-grid-unit-third support-tier animated fadeInRight">
      <div class="support-tier-header">
        <figure class="support-tier-image"><img src="http://placehold.it/550x350/ffffff/0055DD" alt=""></figure>
        <h2 class="support-tier-name">Friend</h2>
        <h3 class="support-tier-price"><span class="number"><span class="currency">$</span><span class="value">50</span></span> <small>+ shipping</small></h3>
      </div>
      <div class="support-tier-body">
        <ul class="support-tier-rewards">
          <li>Ebook download (ePub, Mobi, PDF)</li>
          <li>Hardback shipped worldwide<sup class="footnote"><a href="#">*</a></sup></li>
          <li><span class="highlight">Name listed in issue’s colophon</span></li>
          <li><span class="highlight">Limited edition gift with every issue<sup class="footnote"><a href="#">&dagger;</a></sup></span></li>
        </ul>
        <div class="button-wrapper">
          <a href="<%= support_checkout_path(:friend) %>" class="button">Become a Friend</a>
        </div>
      </div>
    </li>
  </ul>

  <div class="support-benefits l-singlecol-centered animated fadeInDown">
    <h3 class="support-benefits-title">All supporters also get</h3>
    <ul class="support-benefits-list">
      <li><span class="highlight">Early access to Web and Ebook editions</span> of new issues, before they’re released to general public.</li>
      <li>Supporters-only newsletter, where we’ll <span class="highlight">announce writers and illustrations of future issues</span>, and other progress updates and behind-the-scenes news about making The Manual.</li>
    </ul>
    <ul class="support-footnotes">
      <li><span>*</span> Hardbacks <strong>do not</strong> include shipping, which will be charged in addition to your subscription fee.</li>
      <li><span>&dagger;</span> Limited edition gifts are shipped for free.</li>
    </ul>
  </div>

</div></main>

<% content_for :footer do %>
  <script>$(function() {
    $('.support-tier button[data-value]').click(function() {
      var $wrapper    = $('.support-form');
      var SLIDE_DELAY = 150;
      // Toggle button
      $(this)
        .closest('.support-tier').addClass('is-selected')
        .siblings().removeClass('is-selected');
      // Reveal form
      if (!$wrapper.is(':visible')) {
        $wrapper.css('opacity', 0.0).slideDown(SLIDE_DELAY, function() {
          $wrapper.animateCss('fadeInUp', function() { $wrapper.css('opacity', 1.0); });
        });
      }
      window.setTimeout(function() { $.scrollTo($wrapper, { duration: 500, easing: 'easeInOutQuart'}); }, SLIDE_DELAY);
    });
  });</script>
<% end %>