<main class=""><div>

  <header class="l-wrapper heading">
    <h1>Subscribe to The Manual</h1>
    <p>We’re an independent publication, and we rely on our readers for support. We pay our writers and illustrators well for their work, and none of our editions contain any advertising.</p>
  </header>

  <section class="support-tiers l-padded-h">
    <ul class="l-grid support-tiers-list">
      <li class="l-grid-unit-third support-tier animated fadeInLeft">
        <div class="support-tier-heading">
          <h2 class="support-tier-name">Digital</h2>
          <h3 class="support-tier-price"><span class="currency">$</span>10</h3>
        </div>
        <p class="support-tier-note">per issue</p>
        <ul class="support-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="striked">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:digital) %>" class="button">Subscribe to Digital</a>
      </li>

      <li class="l-grid-unit-third support-tier animated fadeInUp">
        <div class="support-tier-heading">
          <h2 class="support-tier-name">Print</h2>
          <h3 class="support-tier-price"><span class="currency">$</span>25</h3>
        </div>
        <p class="support-tier-note">per Issue + <span data-shipping="cost"></span> shipping<a href="#shipping" class="footnote">*</a></p>
        <ul class="support-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li><span class="">Print edition (A5 hardbound book)</span></li>
          <li><span class="striked">Exclusive gift with each issue</span></li>
          <li><span class="striked">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:print) %>" class="button">Subscribe to Print</a>
      </li>

      <li class="l-grid-unit-third support-tier animated fadeInRight">
        <div class="support-tier-heading">
          <h2 class="support-tier-name">Patron</h2>
          <h3 class="support-tier-price"><span class="currency">$</span>50</h3>
        </div>
        <p class="support-tier-note">per Issue + <span data-shipping="cost"></span> shipping<a href="#shipping" class="footnote">*</a></p>
        <ul class="support-tier-rewards">
          <li>Early access to new issues</li>
          <li>Digital edition (ePub, Mobi, PDF)</li>
          <li>Print edition (A5 hardbound book)</li>
          <li><span class="">Exclusive gift with each issue</span></li>
          <li><span class="">Listed as a patron in each issue</span></li>
        </ul>
        <a href="<%= checkout_support_path(:friend) %>" class="button">Become a Patron</a>
      </li>
    </ul>
  </section>

  <p class="support-notes" id="shipping">
    <span class="support-notes-mark">*</span> The Manual publishes three issues per year. <span data-shipping="message">Exact shipping cost can only be calculated at checkout.</span></p>

  </section>

</div></main>

<% content_for :footer do %>
<script>$(function() {

  $('.support-tier a.footnote').click(function() {
    var $shipping = $("#shipping");
    $.scrollTo($shipping, {
      duration: 250,
      onAfter: function() {
        $shipping.animateCss('flash');
      }
    });
    return false;
  });

  $.getEstimatedShippingCost({}, function(data){
    if (data.status == 'ok' && 'cost' in data.response && 'ip_country_name' in data.response) {
      // Update cost
      var cost = Number(data.response.cost).toFixed();
      $('[data-shipping="cost"]').html(prefixCurrency(cost));
      // Update message
      message = 'Estimated shipping cost for ' + data.response.ip_country_name + ', accurate cost will be calculated at checkout.';
      $('[data-shipping="message"]').animateCss('fadeIn').text(message);
    }
  });
});</script>
<% end %>