<main class="is-padded"><div class="c-single is-centered">

  <header class="page-header is-centered">
    <h1>Become a supporter.</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
    <p><strong>We publish three issues per year. You decide how much you want to pay for each.</strong></p>
  </header>

  <div class="support-panel">
    <div class="support-slider"></div>
  </div>

  <form action="<%= support_path %>" method="post" class="stripe-form">

		<input type="hidden" name="stripe_token" value="" />

	 	<span class="payment-errors"></span>

    <dl>
      <dt><label for="support-panel-form-price">$</label></dt>
      <dd><input type="number" id="support-panel-form-price" /></dd>
    </dl>

	  <div class="form-row">
	    <label>
	      <span>Card Number</span>
	      <input type="text" size="20" data-stripe="number" value="4242424242424242"/>
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>CVC</span>
	      <input type="text" size="4" data-stripe="cvc" value="123"/>
	    </label>
	  </div>

	  <div class="form-row">
	    <label>
	      <span>Expiration (MM/YYYY)</span>
	      <input type="text" size="2" data-stripe="exp-month" value="12"/>
	    </label>
	    <span> / </span>
	    <input type="text" size="4" data-stripe="exp-year" value="2020"/>
	  </div>

		<button type="submit">Subscribe</button>

  </form>

</div></main>


<% content_for :footer do %>
<script src="https://js.stripe.com/v2/"></script>
<script>
  Stripe.setPublishableKey('<%= STRIPE[:publishable_key] %>');
</script>
<% end %>