<% payment_assets %>
<main class="is-padded"><div class="c-single is-centered">

  <header class="page-header is-centered">
    <h1>Become a supporter.</h1>
    <p>We’re an independent publication. We pay all our writers and illustrators for their work, and our Ebook and Print Editions don’t contain advertisting. This means your contribution is fundamental to support The Manual and fund new issues.</p>
  </header>

  <%= form_for @user, url: support_path, html: {method: :post, class: "stripe-form form payment-form", autocomplete: :on, novalidate: :novalidate } do |f| %>
    <input type="hidden" name="stripe_token" value="" />
    <!--
    <span class="payment-errors"></span>

    <dl>
      <dt><label for="support-panel-form-price">$</label></dt>
      <dd><input type="number" id="support-panel-form-price" /></dd>
    </dl>-->

    <dl class="field is-composed">
      <dt><label for="supporter-signup-first-name">Name</label></dt>
      <dd class="field-element is-half">
        <%= f.text_field :first_name, id: 'supporter-signup-first-name', class: 'is-long', placeholder: 'First', required: true %>
      </dd>
      <dd class="field-element is-half">
        <%= f.text_field :last_name, id: 'supporter-signup-last-name', class: 'is-long', placeholder: 'Last', required: true %>
      </dd>
    </dl>

    <dl class="field">
      <dt><label for="supporter-signup-email">Email</label></dt>
      <dd><%= f.email_field :email, class: 'is-long', placeholder: 'yourname@domain.com', required: true, id: 'supporter-signup-email' %></dd>
    </dl>

    <dl class="field">
      <dt><label for="supporter-signup-cc-number">Card Number</label></dt>
      <dd><input required id="supporter-signup-cc-number" type="text" size="20" name="cc-number" class="cc-number is-long" placeholder="0000 0000 0000 0000" pattern="\d*" /></dd>
    </dl>

    <div class="field is-composed">
      <dl class="field-element is-half">
        <dt><label for="supporter-signup-cc-cvc">CVC</label></dt>
        <dd><input required type="text" id="supporter-signup-cc-cvc" name="cc-cvc" class="cc-csc is-long" autocomplete="off" placeholder="" pattern="\d*" value=""/></dd>
      </dl>

      <dl class="field-element is-half">
        <dt><label for="supporter-signup-cc-exp">Expiration Date</label></dt>
        <dd><input id="supporter-signup-cc-exp" required type="text" name="cc-exp" class="cc-exp is-long"  placeholder="MM / YY" pattern="\d*" value="" /></dd>
      </dl>
    </div>

    <!-- <div class="field">
      <div class="field-checkradio">
        <input type="checkbox" name="" id="supporter-signup-current-issue" />
        <label for="supporter-signup-current-issue">Start subscription on the most current issue</label>
        <span class="label-note">You’ll receive the latest published issue immediately, but you’ll be charged again for the following issue.</span>
      </div>
      <div class="field-checkradio">
        <input type="checkbox" name="" id="supporter-signup-current-issue" />
        <label for="supporter-signup-current-issue">Start subscription on the most current issue</label>
        <span class="label-note">You’ll receive the latest published issue immediately, but you’ll be charged again for the following issue.</span>
      </div>
    </div> -->


    <dl class="field">
      <dt>Choose your starting issue</dt>
      <dd class="field-checkradio">
        <input type="radio" name="supporter-signup-start" id="supporter-signup-start-now" checked="checked" />
        <label for="supporter-signup-start-now"><strong>Issue 4</strong>, our latest issue, which you’ll get immediately.</label>
        <p class="label-note">We’ll charge you again for Issue 5, due in two months.</p>
      </dd>
      <dd class="field-checkradio">
        <input type="radio" name="supporter-signup-start" id="supporter-signup-start-next" />
        <label for="supporter-signup-start-next"><strong>Issue 5</strong>, our next issue, which you’ll get in two months.</label>
        <span class="label-note">We’ll only charge you again for Issue 6, due in six months.</span>
      </dd>
    </dl>

    <div class="form-actions">
      <button type="submit" class="button">Support The Manual</button>
    </div>

  <% end %>

</div></main>