<main><div class="l-singlecol l-p-xyy text">
  <h1>Thank you!</h1>
  <p>We’re deligthed to have you as a <strong><%= Subscription::TIERS[@tier][:name] %> Subscriber</strong> to The Manual. You can make changes to your subscription at anytime in <a href="#">your account</a>. Now go ahead and start reading!</p>
</div></main>