<main class="l-padded"><div class="l-singlecol-centered">

  <header class="heading">
    <h1>Thanks for being a supporter.</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, cum, ipsa sed id quos optio deserunt magnam fuga reprehenderit eligendi voluptas iure saepe iste repudiandae perspiciatis velit cumque nostrum modi.</p>
  </header>
</div></main>