<% push_page_title "Store" %>

<main>
  <header class="l-p-xyy bg-gray"><div class="l-container text">
    <h1>Store</h1>
  </div></header>

  <nav class="l-p-x l-line bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Featured",       {:action => 'featured'}, :class => 'is-current' %></li>
      <li><%= link_to "Annual Subscription",  {:action => 'subscription'} %></li>
      <li><%= link_to "Issues",         {:action => 'issues' } %></li>
    </ul>
  </div></nav>

</main>