<% push_page_title "Subscriptions" %>
<% push_page_title "Store" %>

<main>
  <header class="l-pad-x-yy bg-gray"><div class="l-container text">
    <h1>Store</h1>
  </div></header>

  <nav class="l-pad-x l-divider bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Featured",       {:action => 'featured'} %></li>
      <li><%= link_to "Subscription",  {:action => 'subscription'}, :class => 'is-current'  %></li>
      <li><%= link_to "Issues",         {:action => 'issues' } %></li>
    </ul>
  </div></nav>

</main>