<% push_page_title "Subscription" %>
<% push_page_title "Store" %>

<main>
  <header class="l-p-xyy bg-gray"><div class="l-container text">
    <h1>Store</h1>
  </div></header>

  <nav class="l-p-x l-line bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Featured",       {:action => 'featured'} %></li>
      <li><%= link_to "Annual Subscription",  {:action => 'subscription'}, :class => 'is-current'  %></li>
      <li><%= link_to "Issues",         {:action => 'issues' } %></li>
    </ul>
  </div></nav>

  <section class="l-p-xyy"><div class="l-container"><form id="subscription-form" action="">

    <figure>
      <img src="http://placehold.it/1200x400/F5F5F5/FFFFFF" alt="">
    </figure>

    <ul class="l-row">
      <li class="l-col-fourth l-m-y">
        <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
        <h3 class="h3">Web</h3>
        <div class="text t-small-sans">
          <p>One month early access to free Web edition of Issues 5, 6, and 7</p>
          <p><del>Ebook copy of Issues 5, 6, and 7; one month before publicly available</del></p>
          <p><del>Audiobook of Issues 5, 6, and 7</del></p>
          <p><del>Printed copy of Issues 5, 6, and 7</del></p>
        </div>
        <div class="button-row">
          <button class="t-big button price">
            <span class="symbol">+</span><span class="currency">$</span><span class="value">15</span>
          </button>
          <span class="h2-sc">/ year</span>
        </div>
      </li>

      <li class="l-col-fourth l-m-y">
        <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
        <h3 class="h3">Ebook</h3>
        <div class="text t-small-sans">
          <p>One month early access to free Web edition of Issues 5, 6, and 7</p>
          <p>Ebook copy of Issues 5, 6, and 7; one month before publicly available</p>
          <p><del>Audiobook of Issues 5, 6, and 7</del></p>
          <p><del>Printed copy of Issues 5, 6, and 7</del></p>
        </div>
        <div class="button-row">
          <button class="t-big button price">
            <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
          </button>
          <span class="h2-sc">/ year</span>
        </div>

      </li>

      <li class="l-col-fourth l-m-y">
        <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
        <h3 class="h3">Audiobook</h3>
        <div class="text t-small-sans">
          <p>One month early access to free Web edition of Issues 5, 6, and 7</p>
          <p>Ebook copy of Issues 5, 6, and 7; one month before publicly available</p>
          <p>Audiobook of Issues 5, 6, and 7</p>
          <p><del>Printed copy of Issues 5, 6, and 7</del></p>
        </div>
        <div class="button-row">
          <button class="t-big button price">
            <span class="symbol">+</span><span class="currency">$</span><span class="value">50</span>
          </button>
          <span class="h2-sc">/ year</span>
        </div>
      </li>

      <li class="l-col-fourth l-m-y">
        <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
        <h3 class="h3">Print</h3>
        <div class="text t-small-sans">
          <p>One month early access to free Web edition of Issues 5, 6, and 7</p>
          <p>Ebook copy of Issues 5, 6, and 7; one month before publicly available</p>
          <p>Audiobook of Issues 5, 6, and 7</p>
          <p>Printed copy of Issues 5, 6, and 7</p>
        </div>
        <div class="button-row">
          <button class="t-big button price">
            <span class="symbol">+</span><span class="currency">$</span><span class="value">75</span>
          </button>
          <span class="h2-sc">/ year</span>
        </div>
      </li>
    </ul>

  </form></div></section>

</main>

<% content_for :footer do %>
<script>$(function() {

  var updateSubscriptionTotal = function($form) {
    var total = 0;
    var shipping = false;
    $form.find('input[data-price]:checked').each(function(index, el) {
      $this = $(this);
      total += parseInt($this.data('price'));
      if ($this.data('shipping')) { shipping = true; }
    });
    $("#subscription-total").html(prefixCurrency(total)).animatecss('flash');
    $("#subscription-shipping").toggle(shipping);
  };

  $form = $("#subscription-form");
  $form.find('input[data-price]').change(function() {
    updateSubscriptionTotal($form);
  });
  updateSubscriptionTotal($form);

});</script>
<% end %>
