<% push_page_title "Subscription" %>
<% push_page_title "Store" %>

<main>
  <header class="l-p-xyy bg-gray"><div class="l-container text">
    <h1>Store</h1>
  </div></header>

  <nav class="l-p-x l-line bg-gray"><div class="sub-nav l-container">
    <ul class="sub-nav-list">
      <li><%= link_to "Home",       {:action => 'featured'} %></li>
      <li><%= link_to "Subscribe",  {:action => 'subscription'}, :class => 'is-current'  %></li>
      <li><%= link_to "Buy Issues",         {:action => 'issues' } %></li>
    </ul>
  </div></nav>

  <section class="l-p-xyy"><div class="l-container">

    <header class="l-shift-3 l-m-bb">
      <h1 class="h2">Build an Annual Subscription</h1>
      <div class="text t-small-sans">
        <ul class="outdented loose">
          <li>Annual Subscriptions include the <span class="highlight">next three issues: 5, 6, and 7,</span> available in multiple formats.</li>
          <li>Subscribers have early access to new issues, and <span class="highlight">20% off regular price</span> on Ebook and Print editions.</li>
          <li>We publish everything online for free, so <span class="highlight">we rely on our readers’ generous support</span>. Thank you.</li>
        </ul>
      </div>
    </header>

    <div class="l-line-t l-row">
      <div class="l-col-fourth l-m-y">
        <h2 class="h1-sc">Get Started</h2>
        <p class="h2-sc">Pick an option</p>
      </div>

      <ul class="l-col-rest">
        <li class="l-col-third l-m-y">
          <figure><img src="http://placehold.it/600x300/F5F5F5/0055DD" alt=""></figure>
          <h2 class="h4">Web</h2>
          <div class="text t-note">
            <p>Early access (1 month) to the free Web edition of Issues 5, 6, and 7</p>
            <p><del>Ebook of Issues 5, 6, and 7, one onth beforepublicly available</del></p>
            <p><del>Printed copy of Issues 5, 6, and 7; shipped on the day of release</del></p>
          </div>
          <p class="h4 price"><span class="currency">$</span><span class="value">15</span></p>
        </li>

        <li class="l-col-third l-m-y">
          <figure><img src="http://placehold.it/600x300/F5F5F5/0055DD" alt=""></figure>
          <h2 class="h4">Ebook</h2>
          <div class="text t-note">
            <p>Early access (1 month) to the free Web edition of Issues 5, 6, and 7</p>
            <p>Ebook copy of Issues 5, 6, and 7; one month before publicly available</p>
            <p><del>Printed copy of Issues 5, 6, and 7; shipped on the day of release</del></p>
          </div>
          <p class="h4 price"><span class="currency">$</span><span class="value">25</span></p>
        </li>

        <li class="l-col-third l-m-y">
          <figure><img src="http://placehold.it/600x300/F5F5F5/0055DD" alt=""></figure>
          <h2 class="h4">Print</h2>
          <div class="text t-note">
            <p>Early access (1 month) to the free Web edition of Issues 5, 6, and 7</p>
            <p>Ebook copy of Issues 5, 6, and 7; one month before publicly available</p>
            <p>Printed copy of Issues 5, 6, and 7; shipped on the day of release</p>
          </div>
          <p class="h4 price"><span class="currency">$</span><span class="value">60</span></p>
        </li>
      </ul>
    </div>

    <div class="l-line-t l-row">

      <div class="l-col-fourth l-m-y">
        <h2 class="h1-sc">Add Any Extras</h2>
        <p class="h2-sc">Optional</p>
      </div>

      <ul class="l-col-rest">
        <li class="l-m-y">
          <h2 class="h5-heavy">Audiobooks</h2>
          <div class="text t-note">
            <p>Audiobook of Issues 5, 6 and 7; narrated by John Appleseed</p>
          </div>
        </li>

        <li class="l-m-y">
          <h2 class="h5-heavy">Illustration Prints</h2>
          <div class="text t-note">
            <p>Postcard-sized physical prints of each illustration in Issues 5, 6 and 7</p>
          </div>
        </li>
      </ul>
    </div>

    <div class="l-row l-line-t">
      <div class="l-col-fourth l-m-y">
        <h2 class="h1-sc">Review</h2>
      </div>

      <div class="l-col-rest l-m-y">
        <input type="text" readonly="readonly" class="subscription-price" />

        <button type="submit" class="button is-large">Add to Cart</button>
      </div>
    </div>

  </div></section>

</main>