<% push_page_title "Subscription" %>
<% push_page_title "Shop" %>

<header class="page-header">
  <h1>Subscription</h1>
</header>

<section class="l-p-y l-line-t"><form id="subscription-form" action="">

  <figure>
    <img src="http://placehold.it/1200x400/F5F5F5/FFFFFF" alt="">
  </figure>

  <ul class="l-row">
    <li class="l-col-fourth l-m-y">
      <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
      <h3 class="h3">Web</h3>
      <div class="text">
        <ul class="plain looser">
          <li>One month early access to free Web edition of Issues 5, 6, and 7</li>
          <li><del>Ebook copy of Issues 5, 6, and 7; one month before publicly available</del></li>
          <li><del>Audiobook of Issues 5, 6, and 7</del></li>
          <li><del>Printed copy of Issues 5, 6, and 7</del></li>
        </ul>
      </div>
      <div class="button-row l-m-t">
        <button class="t-big button price">
          <span class="symbol">+</span><span class="currency">$</span><span class="value">15</span>
        </button>
        <span class="t-sc-light">/ year</span>
      </div>
    </li>

    <li class="l-col-fourth l-m-y">
      <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
      <h3 class="h3">Ebook</h3>
      <div class="text">
        <ul class="plain looser">
          <li>One month early access to free Web edition of Issues 5, 6, and 7</li>
          <li>Ebook copy of Issues 5, 6, and 7; one month before publicly available</li>
          <li><del>Audiobook of Issues 5, 6, and 7</del></li>
          <li><del>Printed copy of Issues 5, 6, and 7</del></li>
        </ul>
      </div>
      <div class="button-row l-m-t">
        <button class="t-big button price">
          <span class="symbol">+</span><span class="currency">$</span><span class="value">25</span>
        </button>
        <span class="t-sc-light">/ year</span>
      </div>

    </li>

    <li class="l-col-fourth l-m-y">
      <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
      <h3 class="h3">Audiobook</h3>
      <div class="text">
        <ul class="plain looser">
          <li>One month early access to free Web edition of Issues 5, 6, and 7</li>
          <li>Ebook copy of Issues 5, 6, and 7; one month before publicly available</li>
          <li>Audiobook of Issues 5, 6, and 7</li>
          <li><del>Printed copy of Issues 5, 6, and 7</del></li>
        </ul>
      </div>
      <div class="button-row l-m-t">
        <button class="t-big button price">
          <span class="symbol">+</span><span class="currency">$</span><span class="value">50</span>
        </button>
        <span class="t-sc-light">/ year</span>
      </div>
    </li>

    <li class="l-col-fourth l-m-y">
      <!-- <figure><img src="http://placehold.it/600x400/F5F5F5/0055DD" alt=""></figure> -->
      <h3 class="h3">Print</h3>
      <div class="text">
        <ul class="plain looser">
          <li>One month early access to free Web edition of Issues 5, 6, and 7</li>
          <li>Ebook copy of Issues 5, 6, and 7; one month before publicly available</li>
          <li>Audiobook of Issues 5, 6, and 7</li>
          <li>Printed copy of Issues 5, 6, and 7</li>
        </ul>
      </div>
      <div class="button-row l-m-t">
        <button class="t-big button price">
          <span class="symbol">+</span><span class="currency">$</span><span class="value">75</span>
        </button>
        <span class="t-sc-light">/ year</span>
      </div>
    </li>
  </ul>
</form></section>

<footer class="l-p-y l-grid l-line-t text">
  <div class="l-col-third" id="fn:shipping">
    <h5>Shipping</h5>
    <p class="unspaced" data-shipping="message">Shipping costs depend on shipping address and will be calculated at checkout.</p>
  </div>
  <div class="l-col-third">
    <h5>Digital Formats</h5>
    <p class="unspaced">Ebooks: DRM-Free ePub, Mobi, and PDF.</p>
    <p class="unspaced">Audiobooks: DRM-Free MP3 and M4B.</p>
  </div>
  <div class="l-col-third">
    <h5>Bulk Orders</h5>
    <p class="unspaced">We offer bulk discounts. Interested in 20+ issues in any format? <a href="mailto:hi@alwaysreadthemanual.com">Email us.</a></p>
  </div>
</footer>

<% content_for :footer do %>
<script>$(function() {

  var updateSubscriptionTotal = function($form) {
    var total = 0;
    var shipping = false;
    $form.find('input[data-price]:checked').each(function(index, el) {
      $this = $(this);
      total += parseInt($this.data('price'));
      if ($this.data('shipping')) { shipping = true; }
    });
    $("#subscription-total").html(prefixCurrency(total)).animatecss('flash');
    $("#subscription-shipping").toggle(shipping);
  };

  $form = $("#subscription-form");
  $form.find('input[data-price]').change(function() {
    updateSubscriptionTotal($form);
  });
  updateSubscriptionTotal($form);

});</script>
<% end %>
